{% let cf = settings.quality_of_life_settings.crash_fixes %}
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Unequip Spring Ball bounce:</div>
    <div class="col-4 col-sm-3">{{ cf.spring_ball.to_string() }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Yapping Maw shinespark:</div>
    <div class="col-4 col-sm-3">{{ cf.yapping_maw.to_string() }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Frame-perfect pause auto-reserve:</div>
    <div class="col-4 col-sm-3">{{ cf.auto_reserve.to_string() }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">X-Mode tile collision:</div>
    <div class="col-4 col-sm-3">{{ cf.x_mode.to_string() }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Sprite overflow bug:</div>
    <div class="col-4 col-sm-3">{{ cf.sprite_overflow.to_string() }}</div>
</div>
