<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Missile Doors:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{{+ red_doors_count }}</div>
</div>

<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Super Doors:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{{+ green_doors_count }}</div>
</div>

<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Power Bomb Doors:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{{+ yellow_doors_count }}</div>
</div>

<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Charge Beam Doors:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{{+ charge_doors_count }}</div>
</div>

<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Ice Beam Doors:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{{+ ice_doors_count }}</div>
</div>

<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Wave Beam Doors:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{{+ wave_doors_count }}</div>
</div>

<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Spazer Doors:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{{+ spazer_doors_count }}</div>
</div>

<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Plasma Beam Doors:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{{+ plasma_doors_count }}</div>
</div>
