{% let em = settings.quality_of_life_settings.enhanced_map_settings %}
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Blue doors:</div>
    <div class="col-4 col-sm-3">{{ em.blue_doors }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Gray doors:</div>
    <div class="col-4 col-sm-3">{{ em.gray_doors }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Ammo doors:</div>
    <div class="col-4 col-sm-3">{{ em.ammo_doors }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Beam doors:</div>
    <div class="col-4 col-sm-3">{{ em.beam_doors }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Heat:</div>
    <div class="col-4 col-sm-3">{{ em.heat }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Water:</div>
    <div class="col-4 col-sm-3">{{ em.water }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Lava:</div>
    <div class="col-4 col-sm-3">{{ em.lava }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Acid:</div>
    <div class="col-4 col-sm-3">{{ em.acid }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Walls and passages:</div>
    <div class="col-4 col-sm-3">{{ em.walls }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Objectives:</div>
    <div class="col-4 col-sm-3">{{ em.objectives}}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Map stations:</div>
    <div class="col-4 col-sm-3">{{ em.map_station}}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Refill stations:</div>
    <div class="col-4 col-sm-3">{{ em.refill_station }}</div>
</div>