<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Progression rate:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{{+ progression_rate }}</div>
</div>
<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Item placement:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{{+ item_placement_style }}</div>
</div>
<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Item priority strength:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{% let difficulty = difficulty %}{{+ format!("{:?}", settings.item_progression_settings.item_priority_strength) }}</div>
</div>
<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Random tank priority:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{% if random_tank %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Spazer before Plasma:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{% if settings.item_progression_settings.spazer_before_plasma %}Yes{% else %}No{% endif %}</div>
</div>
{% if settings.item_progression_settings.item_pool.len() > 0 %}
<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Item pool:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">
        {{+ self.item_pool_strs() }}
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Stop item placement early:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">{% if settings.item_progression_settings.stop_item_placement_early %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Starting items:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">
        {% if settings.item_progression_settings.starting_items.len() == 0 %}
            None
        {% else %}
            {{+ self.starting_items_strs() }}
        {% endif %}
    </div>
</div>

{% for group in item_priority_groups %}
    {% if group.items.len() > 0 %}
        <div class="row">
            <div class="col-6 col-sm-5 col-md-4 col-lg-3">{{+ format!("{:?}", group.priority) +}} key item priority:</div>
            <div class="col-6 col-sm-7 col-md-8 col-lg-9">
                {{+ group.items.join(", ") }}
            </div>
        </div>
    {% endif %}
{% endfor %}
<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Filler items:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">
        {{+ filler_items.join(", ") }}
    </div>
</div>
{% if semi_filler_items.len() > 0 %}
<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Semi-filler items:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">
        {{+ semi_filler_items.join(", ") }}
    </div>
</div>
{% endif %}
{% if early_filler_items.len() > 0 %}
<div class="row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3">Early filler items:</div>
    <div class="col-6 col-sm-7 col-md-8 col-lg-9">
        {{+ early_filler_items.join(", ") }}
    </div>
</div>
{% endif %}