<div class="form-group row my-3">
    <div class="col-md-4">
        <label class="col-form-label" for="item_dot_change">
            {% include "help/item_dot_change.html" %}
            Item dots after collection
        </label>
    </div>
    <div class="col-md-6 col-lg-4 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="item_dot_change" id="itemDotChangeFade" value="Fade" checked>
        <label class="btn btn-outline-primary" for="itemDotChangeFade">Fade</label>
        <input type="radio" class="btn-check" name="item_dot_change" id="itemDotChangeDisappear" value="Disappear">
        <label class="btn btn-outline-primary" for="itemDotChangeDisappear">Disappear</label>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
        <label class="col-form-label" for="transition_letters">
            {% include "help/transition_letters.html" %}
            Area transition markers
        </label>
    </div>
    <div class="col-md-6 col-lg-4 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="transition_letters" id="transitionLettersNo" value="false">
        <label class="btn btn-outline-primary" for="transitionLettersNo">Arrows</label>
        <input type="radio" class="btn-check" name="transition_letters" id="transitionLettersYes" value="true" checked>
        <label class="btn btn-outline-primary" for="transitionLettersYes">Letters</label>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
        <label class="col-form-label" for="boss_icons">
            {% include "help/boss_icons.html" %}
            Boss icons
        </label>
    </div>
    <div class="col-md-6 col-lg-4 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="boss_icons" id="bossIconsNo" value="false">
        <label class="btn btn-outline-primary" for="bossIconsNo">Disabled</label>
        <input type="radio" class="btn-check" name="boss_icons" id="bossIconsYes" value="true" checked>
        <label class="btn btn-outline-primary" for="bossIconsYes">Enabled</label>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
        <label class="col-form-label" for="miniboss_icons">
            {% include "help/miniboss_icons.html" %}
            Miniboss icons
        </label>
    </div>
    <div class="col-md-6 col-lg-4 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="miniboss_icons" id="minibossIconsNo" value="false">
        <label class="btn btn-outline-primary" for="minibossIconsNo">Disabled</label>
        <input type="radio" class="btn-check" name="miniboss_icons" id="minibossIconsYes" value="true" checked>
        <label class="btn btn-outline-primary" for="minibossIconsYes">Enabled</label>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
        <label class="col-form-label" for="save_icons">
            {% include "help/save_icons.html" %}
            Save stations highlighted
        </label>
    </div>
    <div class="col-md-6 col-lg-4 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="save_icons" id="saveIconsNo" value="false">
        <label class="btn btn-outline-primary" for="saveIconsNo">Disabled</label>
        <input type="radio" class="btn-check" name="save_icons" id="saveIconsYes" value="true" checked>
        <label class="btn btn-outline-primary" for="saveIconsYes">Enabled</label>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
        <label class="col-form-label" for="dachora_icons">
            {% include "help/dachora_icons.html" %}
            Escape animals highlighted
        </label>
    </div>
    <div class="col-md-6 col-lg-4 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="dachora_icons" id="dachoraIconsNo" value="false">
        <label class="btn btn-outline-primary" for="dachoraIconsNo">Disabled</label>
        <input type="radio" class="btn-check" name="dachora_icons" id="dachoraIconsYes" value="true" checked>
        <label class="btn btn-outline-primary" for="dachoraIconsYes">Enabled</label>
    </div>
</div>