<div class="form-group row my-3">
    <div class="col-md-4">
    <label class="col-form-label" for="room_palettes">{% include "help/room_palettes.html" %}Room palettes</label>
    </div>
    <div class="col-md-6 col-lg-4 btn-group p-0" role="group" onchange="roomThemingSettingChanged()">
        <input type="radio" class="btn-check" name="room_palettes" id="roomPalettesVanilla" value="vanilla">
        <label class="btn btn-outline-primary" style="width:120px" for="roomPalettesVanilla">Vanilla</label>
        <input type="radio" class="btn-check" name="room_palettes" id="roomPalettesAreaThemed" value="area-themed" checked>
        <label class="btn btn-outline-primary" style="width:120px" for="roomPalettesAreaThemed">Area-themed</label>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
        <label class="col-form-label" for="tile_theme">{% include "help/tile_theme.html" %}Tile theme</label>
    </div>
    <div class="col-md-6 col-lg-4 btn-group p-0" role="group" onchange="roomThemingSettingChanged()">
        <select id="tileTheme" name="tile_theme" class="form-select">
            <option value="none" selected>Vanilla</option>
            <option value="area_themed">Area-themed</option>
            <option value="scrambled">Scrambled</option>
            <hr>
            {% for theme in mosaic_themes %}
            <option value="{{+ theme.name }}">{{+ theme.display_name }}</option>
            {% endfor %}
            <hr>
            <option value="Outline">Practice Outlines</option>
            <option value="Invisible">Invisible</option>
        </select>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
    <label class="col-form-label" for="reserve_hud_style">{% include "help/reserve_hud.html" %}Reserve tank HUD style</label>
    </div>
    <div class="col-md-6 col-lg-4 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="reserve_hud_style" id="reserveHudStyleVanilla" value=false>
        <label class="btn btn-outline-primary" style="width:120px" for="reserveHudStyleVanilla">Vanilla</label>
        <input type="radio" class="btn-check" name="reserve_hud_style" id="reserveHudStyleRevamped" value=true checked>
        <label class="btn btn-outline-primary" style="width:120px" for="reserveHudStyleRevamped">Revamped</label>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
    <label class="col-form-label" for="vanilla_screw_attack_animation">{% include "help/screw_attack.html" %}Screw Attack animation</label>
    </div>
    <div class="col-md-6 col-lg-4 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="vanilla_screw_attack_animation" id="screwAttackAnimationVanilla" value=true>
        <label class="btn btn-outline-primary" style="width:120px" for="screwAttackAnimationVanilla">Vanilla</label>
        <input type="radio" class="btn-check" name="vanilla_screw_attack_animation" id="screwAttackAnimationSplit" value=false checked>
        <label class="btn btn-outline-primary" style="width:120px" for="screwAttackAnimationSplit">Split</label>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
    <label class="col-form-label" for="override_item_dot_change">{% include "help/override_item_dot_change.html" %}Override Item dots after collection</label>
    </div>
    <div class="col-md-8 col-lg-6 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="override_item_dot_change" id="overrideItemDotChangeUnchanged" value="Unchanged" checked>
        <label class="btn btn-outline-primary" style="width:120px" for="overrideItemDotChangeUnchanged">Unchanged</label>
        <input type="radio" class="btn-check" name="override_item_dot_change" id="overrideItemDotChangeFade" value="Fade">
        <label class="btn btn-outline-primary" style="width:120px" for="overrideItemDotChangeFade">Fade</label>
        <input type="radio" class="btn-check" name="override_item_dot_change" id="overrideItemDotChangeDisappear" value="Disappear">
        <label class="btn btn-outline-primary" style="width:120px" for="overrideItemDotChangeDisappear">Disappear</label>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
    <label class="col-form-label" for="override_transition_letters">{% include "help/override_transition_letters.html" %}O. area transition markers on map</label>
    </div>
    <div class="col-md-8 col-lg-6 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="override_transition_letters" id="overrideTransitionLettersUnchanged" value="Unchanged" checked>
        <label class="btn btn-outline-primary" style="width:120px" for="overrideTransitionLettersUnchanged">Unchanged</label>
        <input type="radio" class="btn-check" name="override_transition_letters" id="overrideTransitionLettersNo" value="Arrows">
        <label class="btn btn-outline-primary" style="width:120px" for="overrideTransitionLettersNo">Arrows</label>
        <input type="radio" class="btn-check" name="override_transition_letters" id="overrideTransitionLettersYes" value="Letters">
        <label class="btn btn-outline-primary" style="width:120px" for="overrideTransitionLettersYes">Letters</label>
    </div>
</div>

<div class="form-group row my-3">
    <div class="col-md-4">
    <label class="col-form-label" for="override_door_locks_size">{% include "help/override_door_locks_size.html" %}Override Door locks size on map</label>
    </div>
    <div class="col-md-8 col-lg-6 btn-group p-0" role="group">
        <input type="radio" class="btn-check" name="override_door_locks_size" id="overrideDoorLocksSizeUnchanged" value="Unchanged" checked>
        <label class="btn btn-outline-primary" style="width:120px" for="overrideDoorLocksSizeUnchanged">Unchanged</label>
        <input type="radio" class="btn-check" name="override_door_locks_size" id="overrideDoorLocksSizeSmall" value="Small">
        <label class="btn btn-outline-primary" style="width:120px" for="overrideDoorLocksSizeSmall">Small</label>
        <input type="radio" class="btn-check" name="override_door_locks_size" id="overrideDoorLocksSizeLarge" value="Large">
        <label class="btn btn-outline-primary" style="width:120px" for="overrideDoorLocksSizeLarge">Large</label>
    </div>
</div>

<div class="card m-2">
    <div class="card-header">Controller settings</div>
    <div class="card-body">
        {% include "controller_settings.html" %}
    </div>
</div>
