<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Initial map reveal:</div>
    <div class="col-4 col-sm-3">{{+ 
        settings.quality_of_life_settings.initial_map_reveal_settings.preset.as_ref().unwrap_or(&"Custom".to_string()) 
    }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Item markers:</div>
    <div class="col-4 col-sm-3">{{+ item_markers }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Room outline revealed on entry:</div>
    <div class="col-4 col-sm-3">{% if settings.quality_of_life_settings.room_outline_revealed %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Opposite area connections revealed by map:</div>
    <div class="col-4 col-sm-3">{% if settings.quality_of_life_settings.opposite_area_revealed %}Yes{% else %}No{% endif %}</div>
</div>
<hr>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Mother Brain fight (phases 2 and 3):</div>
    <div class="col-4 col-sm-3">{{+ mother_brain_fight }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Supers do double damage to Mother Brain:</div>
    <div class="col-4 col-sm-3">{% if supers_double %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Hyper Beam gives all movement items:</div>
    <div class="col-4 col-sm-3">{% if escape_movement_items || settings.item_progression_settings.stop_item_placement_early %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Refill energy for escape:</div>
    <div class="col-4 col-sm-3">{% if escape_refill %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Enemies cleared during escape:</div>
    <div class="col-4 col-sm-3">{% if escape_enemies_cleared %}Yes{% else %}No{% endif %}</div>
</div>
<hr>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Fast elevators:</div>
    <div class="col-4 col-sm-3">{% if fast_elevators %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Fast doors:</div>
    <div class="col-4 col-sm-3">{% if fast_doors %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Fast pause menu:</div>
    <div class="col-4 col-sm-3">{% if fast_pause_menu %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Item fanfares:</div>
    <div class="col-4 col-sm-3">{{+ fanfares }}</div>
</div>
<hr>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Respin:</div>
    <div class="col-4 col-sm-3">{% if respin %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Lenient Space Jump:</div>
    <div class="col-4 col-sm-3">{% if infinite_space_jump %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Momentum conservation:</div>
    <div class="col-4 col-sm-3">{% if momentum_conservation %}Yes{% else %}No{% endif %}</div>
</div>
<hr>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">All items spawn at start of game:</div>
    <div class="col-4 col-sm-3">{% if all_items_spawn %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Acid Chozo usable without Space Jump:</div>
    <div class="col-4 col-sm-3">{% if acid_chozo %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Lava removed from Climb:</div>
    <div class="col-4 col-sm-3">{% if settings.quality_of_life_settings.remove_climb_lava %}Yes{% else %}No{% endif %}</div>
</div>
<hr>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">E-Tank energy refill:</div>
    <div class="col-4 col-sm-3">{{+ etank_refill }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Energy stations refill reserves:</div>
    <div class="col-4 col-sm-3">{% if settings.quality_of_life_settings.energy_station_reserves %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Disableable E-Tanks:</div>
    <div class="col-4 col-sm-3">{{+ disableable_etanks }}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Reserve energy backward transfer:</div>
    <div class="col-4 col-sm-3">{% if settings.quality_of_life_settings.reserve_backward_transfer %}Yes{% else %}No{% endif %}</div>
</div>
<hr>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Enemy drops are buffed:</div>
    <div class="col-4 col-sm-3">{% if buffed_drops %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Guaranteed early save station:</div>
    <div class="col-4 col-sm-3">{% if early_save %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Flash suit persists across save/load:</div>
    <div class="col-4 col-sm-3">{% if settings.quality_of_life_settings.persist_flash_suit %}Yes{% else %}No{% endif %}</div>
</div>
<div class="row">
    <div class="col-8 col-sm-9 col-md-8 col-lg-7 col-xl-6">Blue suit persists across save/load:</div>
    <div class="col-4 col-sm-3">{% if settings.quality_of_life_settings.persist_blue_suit %}Yes{% else %}No{% endif %}</div>
</div>
