[submodule "sm-json-data"]
	path = sm-json-data
	url = https://github.com/vg-json-data/sm-json-data.git
[submodule "MapRandoSprites"]
	path = MapRandoSprites
	url = https://github.com/blkerby/MapRandoSprites
	branch = main
[submodule "SpriteSomething"]
	path = SpriteSomething
	url = https://github.com/Artheau/SpriteSomething
	branch = expanded
[submodule "Mosaic"]
	path = Mosaic
	url = https://github.com/amoebaOfDoom/Mosaic
[submodule "asar"]
	path = asar
	url = https://github.com/RPGHacker/asar.git
[submodule "rust/lznint"]
	path = rust/lznint
	url = https://github.com/blkerby/lznint.git
