.idea/
maps/
models/
rust/rando/target/
venv/
__pycache__
node_modules
tilesets
*.log
roms/
rust/target/
seeds/
package-lock.json
**/*.sfc
**/*.smc
tmp/
patches/ips/items_test*.ips
**/FlameGraph/
**/perf.data
**/out.perf-folded
compressed_data/
