backcall==0.2.0
cloudpickle==1.6.0
decorator==5.0.9
gym==0.18.3
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.18.0
matplotlib-inline==0.1.2
numpy==1.20.3
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==3.0.19
ptyprocess==0.7.0
pyglet==1.5.15
Pygments==2.9.0
scipy==1.6.3
tk==0.1.0
torch==1.9.0
traitlets==5.0.5
typing-extensions==3.10.0.0
wcwidth==0.2.5
