<!DOCTYPE html>
<html lang="en-US">
    <head>
    {% include "common/header.html" %}
    <meta name="keywords" content="Super Metroid, Map Randomizer, Map Rando, Map, Randomizer">
    <meta name="description" content="After planet Zebes exploded, Mother Brain put it back together again but arranged it differently this time.">
    <title>Super Metroid Map Rando</title>
    </head>
    <body>
    {% include "common/navbar.html" %}
    <script>
    document.getElementById("navigation-home").classList.add("active");
    </script>
    <div class="container col-xl-9 col-xxl-7">
        {% if version_info.dev %}
        <div class="row my-4">
        <p><b>Note</b>: This is the development version of the site. Check out the <a href="/releases">Releases</a> tab to see what's new.
        New features may not yet be well-tested, so bugs are likely. If you notice any issues, please let us know in the
        <a href="https://discord.gg/Gc99YV2ZcB">Discord</a>. Alternatively, return to the <a href="https://maprando.com">stable version</a>
        of the site.
        </p>
        </div>
        {% endif %}
        <div class="row align-items-center rounded-3 border shadow-lg mx-1 my-4 p-0">
            <div class="col-lg-8 p-4">
                <h2 class="fw-bold">Super Metroid Map Rando</h2>
                <p class="lead">After planet Zebes exploded, Mother Brain put it back together again but arranged 
                it differently this time.</p>
                <p class="lead">Can you find the items needed to defeat Mother Brain and restore peace to the galaxy?</p>
                <div class="text-center m-4">
                    <a href="/generate" class="btn btn-primary btn-lg">Generate Game</a>
                </div>
            </div>
            <div class="col-lg-4 overflow-hidden text-center p-0 m-0">
                <img src="/static/hero-map.png" height=360 style="image-rendering: pixelated;">
            </div>
        </div>
    </div>
    <div class="container col-xxl-10">
        <div class="row mx-2 mt-5 mb-3 justify-content-center">
            <div class="col-lg-8">
                <h3>Important tips</h3>
                <ul>
                    <li>Saves are fast. Save often, to avoid losing progress.
                    <li>Don't go a way you can't come back from, except as a last resort.
                    <li>Before giving up, check the spoiler map to see what the game intended.
                    <li>This game can be challenging. There is a community happy to help. Find us on
                        <a href="https://discord.gg/Gc99YV2ZcB">Discord</a>!
                </ul>
            </div>
        </div>
        <div class="row mx-2 my-3 justify-content-center">
            <div class="col-lg-8">
                <h3>How to not get stuck</h3>
                <p>Try to avoid going down one-way paths, for example by falling down through crumble blocks or sand. 
                The game will ensure that there is always some path that loops back around, but there is no guarantee 
                that you would have the items needed to follow that path. Therefore, it is usually better to explore 
                safer options first. If you decide to risk going down a one-way, be sure to save the game first. 
                The game has features to make it less painful in case you do get stuck, and to help you prevent getting stuck:
                </p>
                
                <p>
                <ul>
                <li>You can quickly reload your saves using the shortcut L + R + Select + Start.
                <li>If you save in an area you can't escape, you can load an earlier save by repeating the quick reload shortcut.
                <li>Hazard stripes appear on certain doors where the other side has an immediate risk of softlock or death.
                <li>The game logic won't expect you to go down a one-way for an item unless there is some way out <i>without</i> 
                using the item (though this could be by some other path that loops around).
                </ul>
                </p>
            </div>
        </div>
    </div>
</html>
