<script src="/static/localforage.js"></script>
<script>
    async function saveROM(fileInput) {
        var file = fileInput.files[0];
        const reader = new FileReader();
        reader.onload = async function (event) {
            try {
                await localforage.setItem('vanillaRomName', file.name);
                await localforage.setItem('vanillaRomData', reader.result);
            } catch (err) {
                console.log(err);
            };
        };
        reader.readAsArrayBuffer(file);
    }
    async function loadROM(fileInput) {
        try {
            var fileName = await localforage.getItem('vanillaRomName');
            var data = await localforage.getItem('vanillaRomData');
            if (data !== null) {
                var file = new File([data], fileName, { type: '' });
                const dataTransfer = new DataTransfer();
                dataTransfer.items.add(file);
                fileInput.files = dataTransfer.files;
            }
        } catch (err) {
            console.log(err);
        }
    }
</script>