<!-- Modal -->
<div class="modal" id="videoModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <video id="video" width=100% controls style="image-rendering: pixelated;">
          <source id="videoSource">
        </video>
      </div>
    </div>
  </div>
</div>
<script>
  document.getElementById("videoModal").addEventListener('hidden.bs.modal', (event) => {
    document.getElementById("video").pause();
  });

  document.addEventListener('keydown', (ev) => {
    if (!document.getElementById("videoModal").classList.contains("show")) {
      return;
    }

    const video = document.getElementById('video')
    switch (ev.key) {
      case ",":
        if (!video.paused) {
          video.pause();
        }
        video.currentTime -= 1 / 60;
        break;
      case ".":
        if (!video.paused) {
          video.pause();
        }
        video.currentTime += 1 / 60;
        break;
      case " ":
        if (video.paused) {
          video.play();
        } else {
          video.pause();
        }
        break;
      case "f":
      case "F":
        video.requestFullscreen();
        break;
      case "ArrowRight":
        video.currentTime += 5;
        break;
      case "ArrowLeft":
        video.currentTime -= 5;
        break;
    }
  });

  function startVideo(url) {
    console.log("starting video ", url);
    video.pause();
    document.getElementById("videoSource").setAttribute("src", url);
    video.load();
    video.play();
  }
</script>