<div class="modal" id="crashFixesModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-fullscreen-sm-down modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Crash Fixes</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body px-4 py-2">
                <div class="form-group row my-2">
                    <label for="crashFixesSpringball" class="col-md-6 col-lg-5 col-form-label">Unequip spring ball
                        bounce</label>
                    <div id="crashFixesSpringball" class="col-md-2 btn-group">
                        <input type="radio" class="btn-check" name="crash_fixes_springball"
                            id="crashFixesSpringballCrash" value="Crash" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesSpringballCrash">Crash</label>
                        <input type="radio" class="btn-check" name="crash_fixes_springball"
                            id="crashFixesSpringballDeath" value="Death" checked onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesSpringballDeath">Death</label>
                        <input type="radio" class="btn-check" name="crash_fixes_springball"
                            id="crashFixesSpringballWarn" value="Warn" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesSpringballWarn">Warn</label>
                        <input type="radio" class="btn-check" name="crash_fixes_springball"
                            id="crashFixesSpringballSilent" value="Silent" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesSpringballSilent">Silent</label>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <label for="crashFixesYappingmaw" class="col-md-6 col-lg-5 col-form-label">Yapping maw
                        shinespark</label>
                    <div id="crashFixesYappingmaw" class="col-md-2 btn-group">
                        <input type="radio" class="btn-check" name="crash_fixes_yappingmaw"
                            id="crashFixesYappingmawCrash" value="Crash" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesYappingmawCrash">Crash</label>
                        <input type="radio" class="btn-check" name="crash_fixes_yappingmaw"
                            id="crashFixesYappingmawDeath" value="Death" checked onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesYappingmawDeath">Death</label>
                        <input type="radio" class="btn-check" name="crash_fixes_yappingmaw"
                            id="crashFixesYappingmawWarn" value="Warn" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesYappingmawWarn">Warn</label>
                        <input type="radio" class="btn-check" name="crash_fixes_yappingmaw"
                            id="crashFixesYappingmawSilent" value="Silent" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesYappingmawSilent">Silent</label>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <label for="crashFixesAutoreserve" class="col-md-6 col-lg-5 col-form-label">Frame perfect pause,
                        autoreserve</label>
                    <div id="crashFixesAutoreserve" class="col-md-2 btn-group">
                        <input type="radio" class="btn-check" name="crash_fixes_autoreserve"
                            id="crashFixesAutoreserveCrash" value="Crash" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesAutoreserveCrash">Crash</label>
                        <input type="radio" class="btn-check" name="crash_fixes_autoreserve"
                            id="crashFixesAutoreserveDeath" value="Death" checked onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesAutoreserveDeath">Death</label>
                        <input type="radio" class="btn-check" name="crash_fixes_autoreserve"
                            id="crashFixesAutoreserveWarn" value="Warn" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesAutoreserveWarn">Warn</label>
                        <input type="radio" class="btn-check" name="crash_fixes_autoreserve"
                            id="crashFixesAutoreserveSilent" value="Silent" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesAutoreserveSilent">Silent</label>
                    </div>
                </div>
                <div class="form-group row my-2">
                    <label for="crashFixesXmode" class="col-md-6 col-lg-5 col-form-label">X-Mode tile collision</label>
                    <div id="crashFixesXmode" class="col-md-2 btn-group">
                        <input type="radio" class="btn-check" name="crash_fixes_xmode" id="crashFixesXmodeCrash"
                            value="Crash" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesXmodeCrash">Crash</label>
                        <input type="radio" class="btn-check" name="crash_fixes_xmode" id="crashFixesXmodeDeath"
                            value="Death" checked onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesXmodeDeath">Death</label>
                        <input type="radio" class="btn-check" name="crash_fixes_xmode" id="crashFixesXmodeWarn"
                            value="Warn" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesXmodeWarn">Warn</label>
                        <input type="radio" class="btn-check" name="crash_fixes_xmode" id="crashFixesXmodeSilent"
                            value="Silent" onchange="crashFixesChanged()">
                        <label class="btn btn-outline-primary" for="crashFixesXmodeSilent">Silent</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>