<div class="modal" id="doorsModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered" style="max-width:max(min(90vw, 992px), 576px)">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5">Doors</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body p-1">
                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="preset">Missile Doors:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="red_doors_count" id="red_doors_count" value="0" onchange="doorsSettingsChanged()">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="preset">Super Doors:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="green_doors_count" id="green_doors_count" value="0" onchange="doorsSettingsChanged()">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="preset">Power Bomb Doors:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="yellow_doors_count" id="yellow_doors_count" value="0" onchange="doorsSettingsChanged()">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="preset">Charge Beam Doors:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="charge_doors_count" id="charge_doors_count" value="0" onchange="doorsSettingsChanged()">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="preset">Ice Beam Doors:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="ice_doors_count" id="ice_doors_count" value="0" onchange="doorsSettingsChanged()">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="preset">Wave Beam Doors:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="wave_doors_count" id="wave_doors_count" value="0" onchange="doorsSettingsChanged()">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="preset">Spazer Doors:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="spazer_doors_count" id="spazer_doors_count" value="0" onchange="doorsSettingsChanged()">
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <label for="preset">Plasma Beam Doors:</label>
                    </div>
                    <div class="col-lg-3 m-2">
                        <input type="text" class="form-control door-count" name="plasma_doors_count" id="plasma_doors_count" value="0" onchange="doorsSettingsChanged()">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

