<!-- Modal -->
<div class="modal" id="errorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Error</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    
        <div class="modal-body">
          <p>Oops, an error has occurred. Please refresh the page and try again. If the problem persists, feel free to reach out in the <a href="https://discord.gg/Gc99YV2ZcB">Discord</a>.</p>

          <samp id="errorMsg"></samp>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
</div>
  