<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/walljump.html" %}
        <label for="wall_jump">Wall jump</label>
    </div>
    <div id="wallJump" class="col-4 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="wall_jump" id="wallJumpVanilla" value="Vanilla" checked>
        <label class="btn btn-outline-primary" for="wallJumpVanilla">Vanilla</label>
        <input type="radio" class="btn-check" name="wall_jump" id="wallJumpCollectible" value="Collectible">
        <label class="btn btn-outline-primary" for="wallJumpCollectible">Collectible</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/area_assignment.html" %}
        <label for="area_assignment">Area assignment</label>
    </div>
    <div id="areaAssignment" class="col-6 btn-group my-2" role="group">
        <input type="radio" class="btn-check area-assignment-preset-button" name="area_assignment_preset" id="areaAssignmentPresetStandard" value="Standard"
            checked onchange="areaAssignmentPresetChanged()">
        <label class="btn btn-outline-primary" for="areaAssignmentPresetStandard">Standard</label>
        <input type="radio" class="btn-check area-assignment-preset-button" name="area_assignment_preset" id="areaAssignmentPresetSize" value="Size" onchange="areaAssignmentPresetChanged()">
        <label class="btn btn-outline-primary" for="areaAssignmentPresetSize">Size</label>
        <input type="radio" class="btn-check area-assignment-preset-button" name="area_assignment_preset" id="areaAssignmentPresetDepth" value="Depth" onchange="areaAssignmentPresetChanged()">
        <label class="btn btn-outline-primary" for="areaAssignmentPresetDepth">Depth</label>
        <input type="radio" class="btn-check area-assignment-preset-button" name="area_assignment_preset" id="areaAssignmentPresetRandom" value="Random" onchange="areaAssignmentPresetChanged()">
        <label class="btn btn-outline-primary" for="areaAssignmentPresetRandom">Random</label>
        <button type="button" style="flex:none" class="btn btn-secondary ms-1 me-0 p-2" data-bs-toggle="modal" data-bs-target="#areaAssignmentModal">
            <i class="bi bi-gear"></i>
        </button>                    
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/door_locks_size.html" %}
        <label for="door_locks_size">Door locks size on map</label>
    </div>
    <div id="doorLocksSize" class="col-3 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="door_locks_size" id="doorLocksSizeSmall" value="Small">
        <label class="btn btn-outline-primary" for="doorLocksSizeSmall">Small</label>
        <input type="radio" class="btn-check" name="door_locks_size" id="doorLocksSizeLarge" value="Large" checked>
        <label class="btn btn-outline-primary" for="doorLocksSizeLarge">Large</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/map_station_reveal.html" %}
        <label for="map_station_reveal">Map station activation reveal</label>
    </div>
    <div id="mapStationReveal" class="col-3 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="map_station_reveal" id="mapStationRevealPartial" value="Partial">
        <label class="btn btn-outline-primary" for="mapStationRevealPartial">Partial</label>
        <input type="radio" class="btn-check" name="map_station_reveal" id="mapStationRevealFull" value="Full" checked>
        <label class="btn btn-outline-primary" for="mapStationRevealFull">Full</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/energy_free_shinesparks.html" %}
        <label for="energy_free_shinesparks">Energy-free shinesparks</label>
    </div>
    <div id="energyFreeShinesparks" class="col-2 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="energy_free_shinesparks" id="energyFreeShinesparksNo" value="false"
            checked>
        <label class="btn btn-outline-primary" for="energyFreeShinesparksNo">No</label>
        <input type="radio" class="btn-check" name="energy_free_shinesparks" id="energyFreeShinesparksYes" value="true">
        <label class="btn btn-outline-primary" for="energyFreeShinesparksYes">Yes</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/disable_spikesuit.html" %}
        <label for="disable_spike_suit">Disable spikesuits</label>
    </div>
    <div id="disableSpikesuit" class="col-2 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="disable_spike_suit" id="disableSpikesuitNo" value="false" checked>
        <label class="btn btn-outline-primary" for="disableSpikesuitNo">No</label>
        <input type="radio" class="btn-check" name="disable_spike_suit" id="disableSpikesuitYes" value="true">
        <label class="btn btn-outline-primary" for="disableSpikesuitYes">Yes</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/disable_bluesuit.html" %}
        <label for="disable_blue_suit">Disable blue suits</label>
    </div>
    <div id="disableBluesuit" class="col-2 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="disable_blue_suit" id="disableBlueSuitNo" value="false" checked>
        <label class="btn btn-outline-primary" for="disableBlueSuitNo">No</label>
        <input type="radio" class="btn-check" name="disable_blue_suit" id="disableBlueSuitYes" value="true">
        <label class="btn btn-outline-primary" for="disableBlueSuitYes">Yes</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/ultra_low_qol.html" %}
        <label for="ultra_low_qol">Ultra-low quality of life</label>
    </div>
    <div id="ultraLowQoL" class="col-2 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="ultra_low_qol" id="ultraLowQoLNo" value="false" checked>
        <label class="btn btn-outline-primary" for="ultraLowQoLNo">No</label>
        <input type="radio" class="btn-check" name="ultra_low_qol" id="ultraLowQoLYes" value="true">
        <label class="btn btn-outline-primary" for="ultraLowQoLYes">Yes</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/race.html" %}
        <label for="race_mode">Race mode</label>
    </div>
    <div id="raceMode" class="col-md-2 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="race_mode" id="raceModeNo" value="false" checked=true>
        <label class="btn btn-outline-primary" for="raceModeNo">No</label>
        <input type="radio" class="btn-check" name="race_mode" id="raceModeYes" value="true">
        <label class="btn btn-outline-primary" for="raceModeYes">Yes</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/seed.html" %}
        <label for="random_seed">Random seed</label>
    </div>
    <div class="col-md-3 my-2">
        <input type="text" class="form-control" name="random_seed" id="randomSeed" value="">
    </div>
</div>
{% include "area_assignment.html" %}
