<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/walljump.html" %}
        <label for="wall_jump">Wall jump</label>
    </div>
    <div id="wallJump" class="col-4 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="wall_jump" id="wallJumpVanilla" value="Vanilla" checked>
        <label class="btn btn-outline-primary" for="wallJumpVanilla">Vanilla</label>
        <input type="radio" class="btn-check" name="wall_jump" id="wallJumpCollectible" value="Collectible">
        <label class="btn btn-outline-primary" for="wallJumpCollectible">Collectible</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/area_assignment.html" %}
        <label for="area_assignment">Area assignment</label>
    </div>
    <div id="areaAssignment" class="col-4 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="area_assignment" id="areaAssignmentOrdered" value="Ordered"
            checked>
        <label class="btn btn-outline-primary" for="areaAssignmentOrdered">Ordered</label>
        <input type="radio" class="btn-check" name="area_assignment" id="areaAssignmentStandard" value="Standard"
            checked>
        <label class="btn btn-outline-primary" for="areaAssignmentStandard">Standard</label>
        <input type="radio" class="btn-check" name="area_assignment" id="areaAssignmentRandom" value="Random">
        <label class="btn btn-outline-primary" for="areaAssignmentRandom">Random</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/item_dot_change.html" %}
        <label for="item_dot_change">Item dots after collection</label>
    </div>
    <div id="itemDotChange" class="col-3 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="item_dot_change" id="itemDotChangeFade" value="Fade" checked>
        <label class="btn btn-outline-primary" for="itemDotChangeFade">Fade</label>
        <input type="radio" class="btn-check" name="item_dot_change" id="itemDotChangeDisappear" value="Disappear">
        <label class="btn btn-outline-primary" for="itemDotChangeDisappear">Disappear</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/transition_letters.html" %}
        <label for="transition_letters">Area transition markers on map</label>
    </div>
    <div id="transitionLetters" class="col-3 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="transition_letters" id="transitionLettersNo" value="false">
        <label class="btn btn-outline-primary" for="transitionLettersNo">Arrows</label>
        <input type="radio" class="btn-check" name="transition_letters" id="transitionLettersYes" value="true" checked>
        <label class="btn btn-outline-primary" for="transitionLettersYes">Letters</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/door_locks_size.html" %}
        <label for="door_locks_size">Door locks size on map</label>
    </div>
    <div id="doorLocksSize" class="col-3 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="door_locks_size" id="doorLocksSizeSmall" value="Small">
        <label class="btn btn-outline-primary" for="doorLocksSizeSmall">Small</label>
        <input type="radio" class="btn-check" name="door_locks_size" id="doorLocksSizeLarge" value="Large" checked>
        <label class="btn btn-outline-primary" for="doorLocksSizeLarge">Large</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/map_station_reveal.html" %}
        <label for="map_station_reveal">Map station activation reveal</label>
    </div>
    <div id="mapStationReveal" class="col-3 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="map_station_reveal" id="mapStationRevealPartial" value="Partial">
        <label class="btn btn-outline-primary" for="mapStationRevealPartial">Partial</label>
        <input type="radio" class="btn-check" name="map_station_reveal" id="mapStationRevealFull" value="Full" checked>
        <label class="btn btn-outline-primary" for="mapStationRevealFull">Full</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/energy_free_shinesparks.html" %}
        <label for="energy_free_shinesparks">Energy-free shinesparks</label>
    </div>
    <div id="energyFreeShinesparks" class="col-2 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="energy_free_shinesparks" id="energyFreeShinesparksNo" value="false"
            checked>
        <label class="btn btn-outline-primary" for="energyFreeShinesparksNo">No</label>
        <input type="radio" class="btn-check" name="energy_free_shinesparks" id="energyFreeShinesparksYes" value="true">
        <label class="btn btn-outline-primary" for="energyFreeShinesparksYes">Yes</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/variations/ultra_low_qol.html" %}
        <label for="ultra_low_qol">Ultra-low quality of life</label>
    </div>
    <div id="ultraLowQoL" class="col-2 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="ultra_low_qol" id="ultraLowQoLNo" value="false" checked>
        <label class="btn btn-outline-primary" for="ultraLowQoLNo">No</label>
        <input type="radio" class="btn-check" name="ultra_low_qol" id="ultraLowQoLYes" value="true">
        <label class="btn btn-outline-primary" for="ultraLowQoLYes">Yes</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/race.html" %}
        <label for="race_mode">Race mode</label>
    </div>
    <div id="raceMode" class="col-md-2 btn-group my-2" role="group">
        <input type="radio" class="btn-check" name="race_mode" id="raceModeNo" value="false" checked=true>
        <label class="btn btn-outline-primary" for="raceModeNo">No</label>
        <input type="radio" class="btn-check" name="race_mode" id="raceModeYes" value="true">
        <label class="btn btn-outline-primary" for="raceModeYes">Yes</label>
    </div>
</div>
<div class="form-group row">
    <div class="col-lg-4 col-md-6 my-2">
        {% include "help/seed.html" %}
        <label for="random_seed">Random seed</label>
    </div>
    <div class="col-md-3 my-2">
        <input type="text" class="form-control" name="random_seed" id="randomSeed" value="">
    </div>
</div>