<div class="modal" id="itemProgressionModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered" style="max-width:max(min(90vw, 992px), 576px)">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5">Item Progression</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body p-1">
                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#progressionRateModal">
                            <i class="bi bi-question-circle"></i>
                        </button>
                        <label for="preset">Progression rate</label>
                    </div>
                    <div id="progressionRate" class="col-lg-3 btn-group m-2" role="group">
                        {% for name in progression_rates %}
                        <input type="radio"
                            class="btn-check" 
                            name="progression_rate" 
                            id="progressionRate{{+ name }}"
                            onclick="itemProgressionChanged()"
                            value="{{+ name }}">
                        <label class="btn btn-outline-primary" for="progressionRate{{+ name }}">{{+ name }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#itemPlacementModal">
                            <i class="bi bi-question-circle"></i>
                        </button>
                        <label for="preset">Item placement</label>
                    </div>
                    <div id="itemPlacementStyle" class="col-lg-3 btn-group m-2" role="group">
                        {% for name in item_placement_styles %}
                        <input type="radio"
                            class="btn-check" 
                            name="item_placement_style" 
                            id="itemPlacementStyle{{+ name }}"
                            value="{{+ name }}"
                            onclick="itemProgressionChanged()"
                            autocomplete="off"
                            {% if name == &"Neutral" %}
                            checked
                            {% endif %}>
                        <label class="btn btn-outline-primary" for="itemPlacementStyle{{+ name }}">{{+ name }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#itemPriorityStrengthModal">
                            <i class="bi bi-question-circle"></i>
                        </button>
                        <label for="preset">Item priority strength</label>
                    </div>
                    <div id="itemPriorityStrength" class="col-lg-3 btn-group m-2" role="group">
                        {% for name in ["Moderate", "Heavy"] %}
                        <input type="radio"
                            class="btn-check" 
                            name="item_priority_strength" 
                            id="itemPriorityStrength{{+ name }}"
                            value="{{+ name }}"
                            onclick="itemProgressionChanged()"
                            autocomplete="off"
                            {% if name == &"Moderate" %}
                            checked
                            {% endif %}>
                        <label class="btn btn-outline-primary" for="itemPriorityStrength{{+ name }}">{{+ name }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#randomTankModal">
                            <i class="bi bi-question-circle"></i>
                        </button>
                        <label for="preset">Random tank priority</label>
                    </div>
                    <div id="randomTank" class="col-lg-2 btn-group m-2" role="group">
                        {% for name in ["No", "Yes"] %}
                        {% let value = name == &"Yes" %}
                        <input type="radio"
                            class="btn-check" 
                            name="random_tank" 
                            id="randomTank{{+ name }}"
                            value="{{+ value }}"
                            onclick="itemProgressionChanged()"
                            autocomplete="off"
                            {% if name == &"Yes" %}
                            checked
                            {% endif %}>
                        <label class="btn btn-outline-primary" for="randomTank{{+ name }}">{{+ name }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#spazerBeforePlasmaModal">
                            <i class="bi bi-question-circle"></i>
                        </button>
                        <label for="preset">Spazer before Plasma</label>
                    </div>
                    <div id="spazerBeforePlasma" class="col-lg-2 btn-group m-2" role="group">
                        {% for name in ["No", "Yes"] %}
                        {% let value = name == &"Yes" %}
                        <input type="radio"
                            class="btn-check" 
                            name="spazer_before_plasma" 
                            id="spazerBeforePlasma{{+ name }}"
                            value="{{+ value }}"
                            onclick="itemProgressionChanged()"
                            autocomplete="off"
                            {% if name == &"Yes" %}
                            checked
                            {% endif %}>
                        <label class="btn btn-outline-primary" for="spazerBeforePlasma{{+ name }}">{{+ name }}</label>
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-lg-3 m-2">
                        <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#ammoCollectFractionModal">
                            <i class="bi bi-question-circle"></i>
                        </button>
                        <label for="ammoCollectFraction">Ammo collect fraction<br>
                    </div>
                    <div class="col-lg-2 m-2">
                        <input type="number" class="form-control" name="ammo_collect_fraction"
                        id="ammoCollectFraction" value="0.7" min="0.5" max="1.0" step="0.1" onchange="itemProgressionChanged()">
                    </div>
                </div>

                <div class="form-group row border rounded-3 m-3 p-0">
                    <div class="col-lg-3 ml-0 mt-1 mb-1 align-items-center">
                        <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#itemPoolModal">
                            <i class="bi bi-question-circle"></i>
                        </button>
                        <label for="preset">Item pool</label>
                    </div>
                    <div id="itemPoolPreset" class="col-lg-3 btn-group mt-0" role="group">
                        <input type="radio" class="btn-check" name="item_pool_preset" value="Full"
                            id="itemPoolPresetFull" autocomplete="off" 
                            onclick="itemPoolPresetChanged()" checked>
                        <label class="btn btn-outline-primary" for="itemPoolPresetFull">Full</label>

                        <input type="radio" class="btn-check" name="item_pool_preset" value="Reduced"
                            id="itemPoolPresetReduced" autocomplete="off" 
                            onclick="itemPoolPresetChanged()">
                        <label class="btn btn-outline-primary" for="itemPoolPresetReduced">Reduced</label>
                    </div>
                    <div class="accordion m-0 p-0" id="accordionItemPool">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed my-0 d-block text-center customize-button" style="padding-top:10px;padding-bottom:10px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseItemPool">
                                Customize
                                </button>
                            </h2>
                            <div id="collapseItemPool" class="accordion-collapse collapse">
                                <input type="hidden" id="json-item-pool" name="item_pool_json">
                                <div class="form-group row">
                                    <div class="col-lg-3 m-2">
                                        <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#stopItemPlacementEarlyModal">
                                            <i class="bi bi-question-circle"></i>
                                        </button>                                          
                                        <label for="preset">Stop item placement early</label>
                                    </div>
                                    <div id="stopItemPlacementEarly" class="col-lg-2 btn-group m-2" role="group">
                                        {% for name in ["No", "Yes"] %}
                                        {% let value = name == &"Yes" %}
                                        <input type="radio"
                                            class="btn-check" 
                                            name="stop_item_placement_early"
                                            id="stopItemPlacementEarly{{+ name }}"
                                            value="{{+ value }}"
                                            onclick="itemPoolChanged()"
                                            autocomplete="off"
                                            {% if name == &"No" %}
                                            checked
                                            {% endif %}>
                                        <label class="btn btn-outline-primary" for="stopItemPlacementEarly{{+ name }}">{{+ name }}</label>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% for item in item_names_multiple %}
                                    <div class="form-group row m-2">
                                        <label class="col-lg-3 col-form-label text-end" for="item_pool_min_{{+ item }}">{{+ item }}</label>
                                        <span class="itemIcon itemIcon{{+ item }}"></span>
                                        <div class="col-lg-2">
                                            <input type="text" class="form-control item-pool-input-multiple" name="item_pool_{{+ item }}" id="itemPool{{+ item }}" 
                                            value="0" onchange="itemPoolChanged()">
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for item in item_names_single %}
                                    <div class="form-group row m-2">
                                        <label class="col-lg-3 col-form-label text-end" for="item_pool_{{+ item }}">{{+ item }}</label>
                                        <span class="itemIcon itemIcon{{+ item }}"></span>
                                        <div id="itemPool{{ item}}" class="col-lg-2 btn-group" role="group">
                                            <input type="radio" class="btn-check item-pool-input-single" name="item_pool_{{+ item }}" value="No"
                                                id="itemPool{{+ item }}No" autocomplete="off" 
                                                onclick="itemPoolChanged()">
                                            <label class="btn btn-outline-primary" for="itemPool{{+ item }}No">No</label>
                                            <input type="radio" class="btn-check item-pool-input-single" name="item_pool_{{+ item }}" value="Yes"
                                                id="itemPool{{+ item }}Yes" autocomplete="off" 
                                                onclick="itemPoolChanged()" checked>
                                            <label class="btn btn-outline-primary" for="itemPool{{+ item }}Yes">Yes</label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group row border rounded-3 m-3 p-0">
                    <div class="col-lg-3 ml-0 mt-1 mb-1 align-items-center">
                        <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#startingItemsModal">
                            <i class="bi bi-question-circle"></i>
                        </button>                          
                        <label for="preset">Starting items</label>
                    </div>
                    <div id="startingItemsPreset" class="col-lg-2 btn-group mt-0" role="group">
                        <input type="radio" class="btn-check" name="starting_items_preset" value="None"
                            id="startingItemsPresetNone" autocomplete="off" 
                            onclick="startingItemsPresetChanged()" checked>
                        <label class="btn btn-outline-primary" for="startingItemsPresetNone">None</label>

                        <input type="radio" class="btn-check" name="starting_items_preset" value="All"
                            id="startingItemsPresetAll" autocomplete="off" 
                            onclick="startingItemsPresetChanged()">
                        <label class="btn btn-outline-primary" for="startingItemsPresetAll">All</label>
                    </div>
                    <div class="accordion m-0 p-0" id="accordionStartingItems">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed my-0 d-block text-center customize-button" style="padding-top:10px;padding-bottom:10px;" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStartingItems">
                                Customize
                                </button>
                            </h2>
                            <div id="collapseStartingItems" class="accordion-collapse collapse">
                                <input type="hidden" id="json-starting-items" name="starting_item_json">
                                {% for item in item_names_multiple %}
                                    <div class="form-group row my-2">
                                        <label class="col-sm-2 col-form-label text-end" for="starting_item_{{+ item }}">{{+ item }}</label>
                                        <span class="itemIcon itemIcon{{+ item }}"></span>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control starting-item-input-multiple" name="starting_item_{{+ item }}" id="startingItem{{+ item }}" 
                                            value="0" onchange="startingItemsChanged()">
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for item in item_names_single %}
                                    <div class="form-group row my-2">
                                        <label class="col-sm-2 col-form-label text-end" for="starting_item_{{+ item }}">{{+ item }}</label>
                                        <span class="itemIcon itemIcon{{+ item }}"></span>
                                        <div id="startingItem{{ item}}" class="col-sm-3 btn-group" role="group">
                                            <input type="radio" class="btn-check starting-item-input-single" name="starting_item_{{+ item }}" value="No"
                                                id="startingItem{{+ item }}No" autocomplete="off" 
                                                onclick="startingItemsChanged()" checked>
                                            <label class="btn btn-outline-primary" for="startingItem{{+ item }}No">No</label>
                                            <input type="radio" class="btn-check starting-item-input-single" name="starting_item_{{+ item }}" value="Yes"
                                                id="startingItem{{+ item }}Yes" autocomplete="off" 
                                                onclick="startingItemsChanged()">
                                            <label class="btn btn-outline-primary" for="startingItem{{+ item }}Yes">Yes</label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row m-2">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header px-2">
                                <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#keyItemPriorityModal">
                                    <i class="bi bi-question-circle"></i>
                                </button>
                                Key item priority
                            </div>
                            <div class="card-body">
                                <input type="hidden" id="json-item-priority" name="item_priority_json">
                                {% for item in prioritizable_items %}
                                    <div class="form-group row my-2">
                                        <label class="col-sm-4 col-form-label text-end" for="item_priority_{{+ item }}">{{+ item }}</label>
                                        <span class="itemIcon itemIcon{{+ item }}"></span>
                                        <div id="itemPriority{{ item }}" class="col-sm-7 btn-group" role="group">
                                            {% for priority in item_priorities %}
                                                <input type="radio" class="btn-check item-priority-input" name="item_priority_{{+ item }}" value="{{+ priority }}"
                                                    id="itemPriority{{+ item }}{{+ priority }}" autocomplete="off" 
                                                    onclick="itemProgressionChanged()"
                                                    {% if priority == &"Default" %}
                                                    checked
                                                    {% endif %}>
                                                <label class="btn btn-outline-primary" for="itemPriority{{+ item }}{{+ priority }}">{{+ priority }}</label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-header px-2">
                                <button type="button" class="btn mr-1 px-2 py-1" data-bs-toggle="modal" data-bs-target="#fillerItemsModal">
                                    <i class="bi bi-question-circle"></i>
                                </button>
                                Filler items
                            </div>
                            <div class="card-body">
                                <input type="hidden" id="json-filler-items" name="filler_items_json">
                                {% for item in prioritizable_items %}
                                    <div id="fillerItems{{ item }}" class="form-group row my-2">
                                        <label class="col-sm-4 col-form-label text-end" for="filler_items_{{+ item }}">{{+ item }}</label>
                                        <span class="itemIcon itemIcon{{+ item }}"></span>
                                        <div class="col-sm-7 btn-group" role="group">
                                            <input type="radio" class="btn-check filler-items-input" name="filler_items_{{+ item }}" value="No"
                                                id="fillerItems{{+ item }}No" autocomplete="off" 
                                                onclick="itemProgressionChanged()">
                                            <label class="btn btn-outline-primary" for="fillerItems{{+ item }}No">No</label>
                                            {% if ["Super", "PowerBomb", "ETank", "ReserveTank"].contains(&item.as_str()) %}
                                            <input type="radio" class="btn-check filler-items-input" name="filler_items_{{+ item }}" value="Semi"
                                                id="fillerItems{{+ item }}Semi" autocomplete="off" 
                                                onclick="itemProgressionChanged()">
                                            <label class="btn btn-outline-primary" for="fillerItems{{+ item }}Semi">Semi</label>
                                            {% endif %}
                                            <input type="radio" class="btn-check filler-items-input" name="filler_items_{{+ item }}" value="Yes"
                                                id="fillerItems{{+ item }}Yes" autocomplete="off" 
                                                onclick="itemProgressionChanged()">
                                            <label class="btn btn-outline-primary" for="fillerItems{{+ item }}Yes">Yes</label>
                                            <input type="radio" class="btn-check filler-items-input" name="filler_items_{{+ item }}" value="Early"
                                                id="fillerItems{{+ item }}Early" autocomplete="off" 
                                                onclick="itemProgressionChanged()">
                                            <label class="btn btn-outline-primary" for="fillerItems{{+ item }}Early">Early</label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    .itemIcon {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        background-image: url(/static/items.png);
        image-rendering: pixelated;
        background-size: auto 100%;
	background-clip: content-box;
	padding-left: 0;
	padding-right: 0;
	margin-top: 9px;
    }
    
    .itemIconCharge {
        background-position-x: calc(-8px * 10);
    }

    .itemIconVaria {
        background-position-x: calc(-8px * 24);
    }

    .itemIconMorph {
        background-position-x: calc(-8px * 38);
    }

    .itemIconHiJump {
        background-position-x: calc(-8px * 14);
    }

    .itemIconMissile {
        background-position-x: calc(-8px * 2);
    }

    .itemIconIce {
        background-position-x: calc(-8px * 12);
    }

    .itemIconGravity {
        background-position-x: calc(-8px * 26);
    }

    .itemIconBombs {
        background-position-x: calc(-8px * 8);
    }

    .itemIconSpaceJump {
        background-position-x: calc(-8px * 34);
    }

    .itemIconSuper {
        background-position-x: calc(-8px * 4);
    }

    .itemIconWave {
        background-position-x: calc(-8px * 18);
    }

    .itemIconSpringBall {
        background-position-x: calc(-8px * 22);
    }

    .itemIconSpeedBooster {
        background-position-x: calc(-8px * 16);
    }

    .itemIconPowerBomb {
        background-position-x: calc(-8px * 6);
    }

    .itemIconSpazer {
        background-position-x: calc(-8px * 20);
    }

    .itemIconGrapple {
        background-position-x: calc(-8px * 32);
    }

    .itemIconScrewAttack {
        background-position-x: calc(-8px * 36);
    }

    .itemIconWallJump {
        background-position-x: calc(-8px * 42);
    }

    .itemIconETank {
        background-position-x: calc(-8px * 0);
    }

    .itemIconPlasma {
        background-position-x: calc(-8px * 30);
    }

    .itemIconXRayScope {
        background-position-x: calc(-8px * 28);
    }

    .itemIconReserveTank {
        background-position-x: calc(-8px * 40);
    }

</style>

{% include "help/progression/rate.html" %}
{% include "help/progression/item_placement.html" %}
{% include "help/progression/priority_strength.html" %}
{% include "help/progression/random_tank.html" %}
{% include "help/progression/spazer_before_plasma.html" %}
{% include "help/progression/ammo_collect_fraction.html" %}
{% include "help/progression/item_pool.html" %}
{% include "help/progression/stop_item_placement_early.html" %}
{% include "help/progression/starting_items.html" %}
{% include "help/progression/key_item_priority.html" %}
{% include "help/progression/filler_items.html" %}
