<div class="modal" id="objectivesModal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen-sm-down modal-dialog-centered" style="max-width:max(min(90vw, 992px), 576px)">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5">Objectives</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <div class="modal-body px-4 py-2">
                {% for obj_group_pair in objective_groups.chunks(2) %}
                <div class="row">
                    {% for obj_group in obj_group_pair %}
                    <div class="col-sm-6 p-0">
                        <div class="card m-2">
                            <div class="card-header">{{ obj_group.name }}</div>
                            <div class="card-body px-1 py-2">
                                {% for (name, display_name) in obj_group.objectives.iter() %}
                                    <div class="form-group row my-2 mx-1">
                                        <div class="col-sm-4 mt-1 mb-1 align-items-center text-end">
                                            <label for="objective{{ name }}">{{ display_name }}</label>
                                        </div>
                                        <div id="objective{{ name }}" class="col-sm-8 btn-group" role="group">
                                            <input type="radio" class="btn-check" id="objective{{ name }}No" value="No" name="objective_{{ name }}" onchange="objectivesChanged()" checked>
                                            <label class="btn btn-outline-primary" for="objective{{ name }}No">No</label>
                                            <input type="radio" class="btn-check" id="objective{{ name }}Maybe" value="Maybe" name="objective_{{ name }}" onchange="objectivesChanged()">
                                            <label class="btn btn-outline-primary" for="objective{{ name }}Maybe">Maybe</label>
                                            <input type="radio" class="btn-check" id="objective{{ name }}Yes" value="Yes" name="objective_{{ name }}" onchange="objectivesChanged()">
                                            <label class="btn btn-outline-primary" for="objective{{ name }}Yes">Yes</label>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

                <div class="form-group row my-2">
                    <label for="minimumObjectives" class="col-sm-6 col-lg-4 mb-1 mt-1 col-form-label">Minimum number of objectives</label>
                    <div class="col-sm-2 my-2">
                        <input type="number" class="form-control" id="minimumObjectives" value="4" min="0" max="19" onchange="minimumObjectivesChanged()">
                    </div>
                </div>
                <div class="form-group row my-2">
                    <label for="maximumObjectives" class="col-sm-6 col-lg-4 mb-1 mt-1 col-form-label">Maximum number of objectives</label>
                    <div class="col-sm-2 my-2">
                        <input type="number" class="form-control" id="maximumObjectives" value="4" min="0" max="19" onchange="maximumObjectivesChanged()">
                    </div>
                </div>
                <div class="form-group row my-2">
                    <label for="minimumObjectives" class="col-sm-6 col-lg-4 mb-1 mt-1 col-form-label">Pause menu objective screen</label>
                    <div id="objectiveScreen" class="col-sm-3 mb-1 mt-1 btn-group" role="group">
                        <input type="radio" class="btn-check" id="objectiveScreenDisabled" value="Disabled" name="objective_screen" onchange="objectivesChanged()">
                        <label class="btn btn-outline-primary" for="objectiveScreenDisabled">Disabled</label>
                        <input type="radio" class="btn-check" id="objectiveScreenEnabled" value="Enabled" name="objective_screen" onchange="objectivesChanged()" checked>
                        <label class="btn btn-outline-primary" for="objectiveScreenEnabled">Enabled</label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

