<div class="modal" id="saveSettingsModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Save Settings</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
    
        <div class="modal-body">
          <div class="row form-group">
            <div class="col-lg-3 align-items-center">
                <label class="my-2 me-2 mb-2" for="saveSettingsName">Custom preset name</label>
            </div>
            <div class="col-lg-9">
                <input type="text" id="saveSettingsName" class="form-control" value="Custom">
            </div>
        </div>
        </div>
        <div class="modal-footer">
            <button id="saveSettingsButton" type="button" class="btn btn-success" data-bs-dismiss="modal">Save</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>
  