<div class="modal" id="saveSettingsModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5">Save Settings</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        
            <form id="saveSettingsForm">
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-lg-3 align-items-center">
                            <label class="my-2 me-2 mb-2" for="saveSettingsName">Custom preset name</label>
                        </div>
                        <div class="col-lg-9">
                            <input type="text" id="saveSettingsName" list="saveSettingsDatalist" class="form-control" placeholder="Type a name for your custom preset" autocomplete="off">
                            <datalist id="saveSettingsDatalist"></datalist>
                        </div>
                    </div>
                    <p id="saveSettingInvalid" class="d-none text-danger my-2">
                        This custom preset name is invalid. Please select a different name.
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="saveSettingsButton" type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
  