<script>
function presetChanged() {
    {% for p in preset_data %}
        {% if p.preset.name == "Implicit" || p.preset.name == "Beyond" || p.preset.name == "Ignored" %}
            {% continue %}
        {% endif %}
        {% let name_no_space = p.preset.name.replace(" ", "") %}
        if (document.getElementById("preset{{+ name_no_space }}").checked) {
            document.getElementById("shinesparkTiles").value = {{+ p.preset.shinespark_tiles }};
            document.getElementById("heatedShinesparkTiles").value = {{+ p.preset.heated_shinespark_tiles }};
            document.getElementById("speedBallTiles").value = {{+ p.preset.speed_ball_tiles }};
            document.getElementById("shinechargeLeniencyFrames").value = {{+ p.preset.shinecharge_leniency_frames }};
            document.getElementById("resourceMultiplier").value = {{+ p.preset.resource_multiplier }};
            document.getElementById("escapeTimerMultiplier").value = {{+ p.preset.escape_timer_multiplier }};
            document.getElementById("gateGlitchLeniency").value = {{+ p.preset.gate_glitch_leniency }};
            document.getElementById("doorStuckLeniency").value = {{+ p.preset.door_stuck_leniency }};
            document.getElementById("phantoonProficiency").value = {{+ p.preset.phantoon_proficiency }};
            document.getElementById("draygonProficiency").value = {{+ p.preset.draygon_proficiency }};
            document.getElementById("ridleyProficiency").value = {{+ p.preset.ridley_proficiency }};
            document.getElementById("botwoonProficiency").value = {{+ p.preset.botwoon_proficiency }};
            document.getElementById("motherBrainProficiency").value = {{+ p.preset.botwoon_proficiency }};
            {%+ for (tech_setting, is_enabled) in p.tech_setting %}
                {% let tech_id = tech_setting.tech_id %}
                {% if implicit_or_ignored_tech.contains(tech_setting.tech_id) %}
                    {% continue %}
                {% endif %}
                {%+ if is_enabled %}
                    document.getElementById("tech-{{+ tech_id }}-Yes").checked = true;
                {%+ else %}
                    document.getElementById("tech-{{+ tech_id }}-No").checked = true; 
                {% endif %}
            {% endfor %}
            {%+ for (notable_setting, is_enabled) in p.notable_setting %}
                {% let room_id = notable_setting.room_id %}
                {% let notable_id = notable_setting.notable_id %}
                {% if implicit_or_ignored_notables.contains((room_id, notable_id)) %}
                  {% continue %}
                {% endif %}
                {% let combo_id = format!("{}-{}", room_id, notable_id) %}
                {%+ if is_enabled %}
                    document.getElementById("strat-{{ combo_id }}-Yes").checked = true;
                {%+ else %}
                    document.getElementById("strat-{{ combo_id }}-No").checked = true;
                {%+ endif %}
            {% endfor %}
        }
    {% endfor %}
    updateTierPercent();
}

function updateTierPercent() {
    let presets = [];
    {% for p in preset_data %}
        {% if p.preset.name == "Implicit" || p.preset.name == "Ignored" %}
            {% continue %}
        {% endif %}
        {% let name_no_space = p.preset.name.replace(" ", "") %}
        presets.push("{{+ name_no_space }}");
    {% endfor %}
    for (p of presets) {
        let els = document.getElementsByClassName("tier-input-" + p);
        let cnt = 0;
        for (e of els) {
            if (e.checked) {
                cnt += 1;
            }
        }
        let percent = Math.round(cnt / els.length * 100);
        if (percent == 0 && cnt > 0) {
            percent = 1;
        }
        if (percent == 100 && cnt < els.length) {
            percent = 99;
        }
        document.getElementById("percent-tier-" + p).innerHTML = percent;
    }
}
function techChanged() {
    {% for p in preset_data %}
        {% let name_no_space = p.preset.name.replace(" ", "") %}
        {% if name_no_space == "Implicit" || name_no_space == "Beyond" || name_no_space == "Ignored" %}
            {% continue %}
        {% endif %}
        document.getElementById("preset{{+ name_no_space }}").checked = false;
    {% endfor %}
    updateTierPercent();
}

function tryParseInt(s) {
    if (s == "") {
        return null;
    } else {
        return parseInt(s);
    }
}

function buildSettingsObject() {
    var formData = new FormData(document.getElementById("main-form"));
    let version = {{ version_info.version }};
    let startingItems = [];
    let keyItemPriority = [];
    let fillerItems = [];
    let settings = {
        "version": version,
        "skill_assumption_settings": {
            "preset": formData.get("preset"),
            "shinespark_tiles": parseFloat(formData.get("shinespark_tiles")),
            "heated_shinespark_tiles": parseFloat(formData.get("heated_shinespark_tiles")),
            "speed_ball_tiles": parseFloat(formData.get("speed_ball_tiles")),
            "shinecharge_leniency_frames": parseFloat(formData.get("shinecharge_leniency_frames")),
            "resource_multiplier": parseFloat(formData.get("resource_multiplier")),
            "gate_glitch_leniency": parseFloat(formData.get("gate_glitch_leniency")),
            "door_stuck_leniency": parseFloat(formData.get("door_stuck_leniency")),
            "phantoon_proficiency": parseFloat(formData.get("phantoon_proficiency")),
            "draygon_proficiency": parseFloat(formData.get("draygon_proficiency")),
            "ridley_proficiency": parseFloat(formData.get("ridley_proficiency")),
            "botwoon_proficiency": parseFloat(formData.get("botwoon_proficiency")),
            "mother_brain_proficiency": parseFloat(formData.get("mother_brain_proficiency")),
            "escape_timer_multiplier": parseFloat(formData.get("escape_timer_multiplier")),
            "tech_settings": buildTechArray(),
            "notable_settings": buildNotableArray(),
        },
        "item_progression_settings": {
            "preset": formData.get("item_progression_preset"),
            "progression_rate": formData.get("progression_rate"),
            "item_placement_style": formData.get("item_placement_style"),
            "item_priority_strength": formData.get("item_priority_strength"),
            "random_tank": formData.get("random_tank") == "true",
            "spazer_before_plasma": formData.get("spazer_before_plasma") == "true",
            "stop_item_placement_early": formData.get("stop_item_placement_early") == "true",
            "item_pool": buildItemPool(),
            "starting_items": buildStartingItems(),
            "key_item_priority": buildItemPriorities(),
            "filler_items": buildFillerItems(),
        },
        "quality_of_life_settings": {
            "preset": formData.get("preset"),
            "item_markers": formData.get("item_markers"),
            "mark_map_stations": formData.get("mark_map_stations") == "true",
            "opposite_area_revealed": formData.get("opposite_area_revealed") == "true",
            "room_outline_revealed": formData.get("room_outline_revealed") == "true",
            "mother_brain_fight": formData.get("mother_brain_fight"),
            "supers_double": formData.get("supers_double") == "true",
            "escape_movement_items": formData.get("escape_movement_items") == "true",
            "escape_refill": formData.get("escape_refill") == "true",
            "escape_enemies_cleared": formData.get("escape_enemies_cleared") == "true",
            "fast_elevators": formData.get("fast_elevators") == "true",
            "fast_doors": formData.get("fast_doors") == "true",
            "fast_pause_menu": formData.get("fast_pause_menu") == "true",
            "respin": formData.get("respin") == "true",
            "infinite_space_jump": formData.get("infinite_space_jump") == "true",
            "momentum_conservation": formData.get("momentum_conservation") == "true",
            "all_items_spawn": formData.get("all_items_spawn") == "true",
            "acid_chozo": formData.get("acid_chozo") == "true",
            "remove_climb_lava": formData.get("remove_climb_lava") == "true",
            "buffed_drops": formData.get("buffed_drops") == "true",
            "early_save": formData.get("early_save") == "true",
        },
        "objectives_mode": formData.get("objectives"),
        "map_layout": formData.get("map_layout"),
        "doors_mode": formData.get("doors"),
        "start_location_mode": formData.get("start_location"),
        "save_animals": formData.get("save_animals"),
        "other_settings": {
            "wall_jump": formData.get("wall_jump"),
            "etank_refill": formData.get("etank_refill"),
            "area_assignment": formData.get("area_assignment"),
            "item_dot_change": formData.get("item_dot_change"),
            "transition_letters": formData.get("transition_letters") == "true",
            "door_locks_size": formData.get("door_locks_size"),
            "maps_revealed": formData.get("maps_revealed"),
            "map_station_reveal": formData.get("map_station_reveal"),
            "energy_free_shinesparks": formData.get("energy_free_shinesparks") == "true",
            "ultra_low_qol": formData.get("ultra_low_qol") == "true",
            "race_mode": formData.get("race_mode") == "true",
            "random_seed": tryParseInt(formData.get("random_seed")),
        }
    };
    return settings;
}

function buildTechArray() {
    let techSelection = [];
    document.querySelectorAll('.tech-input')
    .forEach(function (x) {
        let parts = x.name.split("-");
        let techId = parseInt(parts[1]);
        let enabled = x.checked;
        techSelection.push([techId, enabled]);
    });
    return techSelection;
}

function buildNotableArray() {
    let notableSelection = [];
    document.querySelectorAll('.strat-input')
    .forEach(function (x) { 
        let parts = x.name.split("-");
        let roomId = parseInt(parts[1]);
        let notableId = parseInt(parts[2]);
        let enabled = x.checked;
        notableSelection.push([roomId, notableId, enabled]);
    });
    return notableSelection;
}
function buildItemPool() {
    let itemPool = {};
    document.querySelectorAll('.item-pool-input-multiple')
    .forEach(function (x) { 
        // remove prefix: "item_pool_"
        name = x.name.substring(10);
        itemPool[name] = tryParseInt(x.value);
    });
    return itemPool;
}
function buildStartingItems() {
    let startingItems = {};
    document.querySelectorAll('.starting-item-input-multiple')
    .forEach(function (x) { 
        // remove prefix: "starting_item_"
        name = x.name.substring(14);
        let cnt = tryParseInt(x.value);
        if (cnt > 0) {
            startingItems[name] = tryParseInt(x.value);
        }
    });
    document.querySelectorAll('.starting-item-input-single')
    .forEach(function (x) { 
        // remove prefix: "starting_item_"
        name = x.name.substring(14);
        if (x.checked && x.value == "Yes") {
            startingItems[name] = 1;
        }
    });
    return startingItems;
}
function buildItemPriorities() {
    let itemPriority = {};
    document.querySelectorAll('.item-priority-input')
    .forEach(function (x) { 
        // remove prefix: "item_priority_"
        name = x.name.substring(14);
        // console.log(name + ": " + x.value);
        if (x.checked) {
            itemPriority[name] = x.value;
        }
    });
    return itemPriority;
}
function buildFillerItems() {
    let fillerItems = {};
    document.querySelectorAll('.filler-items-input')
    .forEach(function (x) { 
        // remove prefix: "filler_items_"
        name = x.name.substring(13);
        if (x.checked) {
            fillerItems[name] = x.value;
        }
    });
    return fillerItems;
}

let submitModal = new bootstrap.Modal('#submitModal', {})
let errorModal = new bootstrap.Modal('#errorModal', {})
let inputRomModal = new bootstrap.Modal('#inputRomModal', {});
async function prepareSubmit(form) {
    let romEl = document.getElementById("inputRom");
    if (romEl.value == "") {
        inputRomModal.show();
        return;
    }

    let romData = await localforage.getItem('vanillaRomData');
    let hashBuffer = await window.crypto.subtle.digest("SHA-256", romData);
    const hashArray = Array.from(new Uint8Array(hashBuffer)); // convert buffer to byte array
    const hashHex = hashArray
        .map((b) => b.toString(16).padStart(2, "0"))
        .join(""); // convert bytes to hex string
    if (hashHex != "12b77c4bc9c1832cee8881244659065ee1d84c70c3d29e6eaf92e6798cc2ca72") {
        console.log("ROM hash: " + hashHex);
        inputRomModal.show();
        document.getElementById("romInvalid").classList.remove("d-none");
        return;
    }
    document.getElementById("romInvalid").classList.add("d-none");

    // updateTechJSON();
    // updateStratJSON();
    // updateItemPoolJSON();"
    // updateStartingItemJSON();
    // updateItemPriorityJSON();
    // updateFillerItemsJSON();
    submitModal.show();
    // form.submit();

    let settings = buildSettingsObject();
    let formData = new FormData();
    formData.append("spoiler_token", document.getElementById("spoilerToken").value);
    formData.append("settings", JSON.stringify(settings));
    formData.append("rom", romEl.files[0]);
    let errorEl = document.getElementById("errorMsg");
    let response;
    try {
        response = await fetch("/randomize", {
            "method": "POST",
            "body": formData,
        });    
    } catch (e) {
        submitModal.hide();
        errorEl.textContent = `Error: ${e}`;
        errorModal.show();
        return;        
    }
    submitModal.hide();
    if (response.ok) {
        let responseJson = await response.json();
        let seedUrl = responseJson["seed_url"];
        window.location.href = seedUrl;
    } else {
        let responseText = await response.text();
        errorEl.textContent = `Error status ${response.status}: ${responseText}`;
        errorModal.show();
    }
}
function qualityOfLifePresetChanged() {
    if (document.getElementById("qualityOfLifeOff").checked) {
        document.getElementById("supersDoubleNo").checked = true;
        document.getElementById("motherBrainFightVanilla").checked = true;
        document.getElementById("escapeMovementItemsNo").checked = true;
        document.getElementById("escapeRefillNo").checked = true;
        document.getElementById("escapeEnemiesClearedNo").checked = true;
        document.getElementById("markMapStationsNo").checked = true;
        document.getElementById("roomOutlineRevealedNo").checked = true;
        document.getElementById("oppositeAreaRevealedNo").checked = true;
        document.getElementById("itemMarkersSimple").checked = true;
        document.getElementById("earlySaveNo").checked = true;
        document.getElementById("allItemsSpawnNo").checked = true;
        document.getElementById("acidChozoNo").checked = true;
        document.getElementById("removeClimbLavaNo").checked = true;
        document.getElementById("buffedDropsNo").checked = true;
        document.getElementById("fastElevatorsNo").checked = true;
        document.getElementById("fastDoorsNo").checked = true;
        document.getElementById("fastPauseMenuNo").checked = true;
        document.getElementById("respinNo").checked = true;
        document.getElementById("infiniteSpaceJumpNo").checked = true;
        document.getElementById("momentumConservationNo").checked = true;
    } else {
        document.getElementById("ultraLowQoLNo").checked = true;
    }
    if (document.getElementById("qualityOfLifeLow").checked) {
        document.getElementById("supersDoubleYes").checked = true;
        document.getElementById("motherBrainFightShort").checked = true;
        document.getElementById("escapeMovementItemsNo").checked = true;
        document.getElementById("escapeRefillNo").checked = true;
        document.getElementById("escapeEnemiesClearedNo").checked = true;
        document.getElementById("markMapStationsYes").checked = true;
        document.getElementById("roomOutlineRevealedNo").checked = true;
        document.getElementById("oppositeAreaRevealedNo").checked = true;
        document.getElementById("itemMarkersUniques").checked = true;
        document.getElementById("earlySaveNo").checked = true;
        document.getElementById("allItemsSpawnNo").checked = true;
        document.getElementById("acidChozoNo").checked = true;
        document.getElementById("removeClimbLavaNo").checked = true;
        document.getElementById("buffedDropsNo").checked = true;
        document.getElementById("fastElevatorsYes").checked = true;
        document.getElementById("fastDoorsYes").checked = true;
        document.getElementById("fastPauseMenuYes").checked = true;
        document.getElementById("respinNo").checked = true;
        document.getElementById("infiniteSpaceJumpNo").checked = true;
        document.getElementById("momentumConservationNo").checked = true;
    }    
    if (document.getElementById("qualityOfLifeDefault").checked) {
        document.getElementById("supersDoubleYes").checked = true;
        document.getElementById("motherBrainFightShort").checked = true;
        document.getElementById("escapeMovementItemsYes").checked = true;
        document.getElementById("escapeRefillYes").checked = true;
        document.getElementById("escapeEnemiesClearedYes").checked = true;
        document.getElementById("markMapStationsYes").checked = true;
        document.getElementById("roomOutlineRevealedYes").checked = true;
        document.getElementById("oppositeAreaRevealedNo").checked = true;
        document.getElementById("itemMarkersThreeTiered").checked = true;
        document.getElementById("earlySaveYes").checked = true;
        document.getElementById("allItemsSpawnYes").checked = true;
        document.getElementById("acidChozoYes").checked = true;
        document.getElementById("removeClimbLavaYes").checked = true;
        document.getElementById("buffedDropsYes").checked = true;
        document.getElementById("fastElevatorsYes").checked = true;
        document.getElementById("fastDoorsYes").checked = true;
        document.getElementById("fastPauseMenuYes").checked = true;
        document.getElementById("respinNo").checked = true;
        document.getElementById("infiniteSpaceJumpNo").checked = true;
        document.getElementById("momentumConservationNo").checked = true;
    }    
    if (document.getElementById("qualityOfLifeHigh").checked) {
        document.getElementById("supersDoubleYes").checked = true;
        document.getElementById("motherBrainFightShort").checked = true;
        document.getElementById("escapeMovementItemsYes").checked = true;
        document.getElementById("escapeRefillYes").checked = true;
        document.getElementById("escapeEnemiesClearedYes").checked = true;
        document.getElementById("markMapStationsYes").checked = true;
        document.getElementById("roomOutlineRevealedYes").checked = true;
        document.getElementById("oppositeAreaRevealedYes").checked = true;
        document.getElementById("itemMarkersFourTiered").checked = true;
        document.getElementById("earlySaveYes").checked = true;
        document.getElementById("allItemsSpawnYes").checked = true;
        document.getElementById("acidChozoYes").checked = true;
        document.getElementById("removeClimbLavaYes").checked = true;
        document.getElementById("buffedDropsYes").checked = true;
        document.getElementById("fastElevatorsYes").checked = true;
        document.getElementById("fastDoorsYes").checked = true;
        document.getElementById("fastPauseMenuYes").checked = true;
        document.getElementById("respinNo").checked = true;
        document.getElementById("infiniteSpaceJumpNo").checked = true;
        document.getElementById("momentumConservationNo").checked = true;
    }    
    if (document.getElementById("qualityOfLifeMax").checked) {
        document.getElementById("supersDoubleYes").checked = true;
        document.getElementById("motherBrainFightSkip").checked = true;
        document.getElementById("escapeMovementItemsYes").checked = true;
        document.getElementById("escapeRefillYes").checked = true;
        document.getElementById("escapeEnemiesClearedYes").checked = true;
        document.getElementById("markMapStationsYes").checked = true;
        document.getElementById("roomOutlineRevealedYes").checked = true;
        document.getElementById("oppositeAreaRevealedYes").checked = true;
        document.getElementById("itemMarkersFourTiered").checked = true;
        document.getElementById("earlySaveYes").checked = true;
        document.getElementById("allItemsSpawnYes").checked = true;
        document.getElementById("acidChozoYes").checked = true;
        document.getElementById("removeClimbLavaYes").checked = true;
        document.getElementById("buffedDropsYes").checked = true;
        document.getElementById("fastElevatorsYes").checked = true;
        document.getElementById("fastDoorsYes").checked = true;
        document.getElementById("fastPauseMenuYes").checked = true;
        document.getElementById("respinYes").checked = true;
        document.getElementById("infiniteSpaceJumpYes").checked = true;
        document.getElementById("momentumConservationYes").checked = true;
    }    
}
function qualityOfLifeSettingChanged() {
    document.getElementById("qualityOfLifeOff").checked = false;
    document.getElementById("qualityOfLifeLow").checked = false;
    document.getElementById("qualityOfLifeDefault").checked = false;
    document.getElementById("qualityOfLifeHigh").checked = false;
    document.getElementById("qualityOfLifeMax").checked = false;
    qualityOfLifePresetChanged();
}
function itemProgressionPresetChanged() {
    if (document.getElementById("itemProgressionPresetNormal").checked) {
        document.getElementById("progressionRateFast").checked = true;
        document.getElementById("itemPlacementStyleNeutral").checked = true;
        document.getElementById("itemPriorityStrengthModerate").checked = true;
        document.getElementById("randomTankYes").checked = true;
        document.getElementById("spazerBeforePlasmaYes").checked = true;
        document.getElementById("itemPoolPresetFull").checked = true;
        document.getElementById("startingItemsPresetNone").checked = true;
        {% for item in prioritizable_items %}
        document.getElementById("itemPriority{{+ item }}Default").checked = true;
        {% endfor %}
        document.getElementById("itemPriorityMorphEarly").checked = true;
        document.getElementById("itemPriorityBombsEarly").checked = true;
        document.getElementById("itemPrioritySpaceJumpDefault").checked = true;
        document.getElementById("itemPriorityScrewAttackDefault").checked = true;
        document.getElementById("itemPriorityWallJumpDefault").checked = true;
        document.getElementById("itemPriorityVariaLate").checked = true;
        document.getElementById("itemPriorityGravityLate").checked = true;
        {% for item in prioritizable_items %}
        document.getElementById("fillerItems{{+ item }}No").checked = true;
        {% endfor %}
        document.getElementById("fillerItemsSuperYes").checked = true;
        document.getElementById("fillerItemsPowerBombYes").checked = true;
        document.getElementById("fillerItemsETankEarly").checked = true;
        document.getElementById("fillerItemsReserveTankYes").checked = true;
        document.getElementById("fillerItemsChargeYes").checked = true;
        document.getElementById("fillerItemsWaveYes").checked = true;
        document.getElementById("fillerItemsSpazerYes").checked = true;
        document.getElementById("fillerItemsIceYes").checked = true;
        document.getElementById("fillerItemsPlasmaYes").checked = true;
        document.getElementById("fillerItemsXRayScopeYes").checked = true;
    }
    if (document.getElementById("itemProgressionPresetTricky").checked) {
        document.getElementById("progressionRateUniform").checked = true;
        document.getElementById("itemPlacementStyleForced").checked = true;
        document.getElementById("itemPriorityStrengthModerate").checked = true;
        document.getElementById("randomTankYes").checked = true;
        document.getElementById("spazerBeforePlasmaYes").checked = true;
        document.getElementById("itemPoolPresetFull").checked = true;
        document.getElementById("startingItemsPresetNone").checked = true;
        {% for item in prioritizable_items %}
        document.getElementById("itemPriority{{+ item }}Early").checked = true;
        {% endfor %}
        document.getElementById("itemPrioritySpaceJumpDefault").checked = true;
        document.getElementById("itemPriorityScrewAttackDefault").checked = true;
        document.getElementById("itemPriorityWallJumpDefault").checked = true;
        document.getElementById("itemPriorityVariaLate").checked = true;
        document.getElementById("itemPriorityGravityLate").checked = true;
        {% for item in prioritizable_items %}
        document.getElementById("fillerItems{{+ item }}No").checked = true;
        {% endfor %}
        document.getElementById("fillerItemsSuperYes").checked = true;
        document.getElementById("fillerItemsPowerBombYes").checked = true;
        document.getElementById("fillerItemsETankEarly").checked = true;
        document.getElementById("fillerItemsReserveTankYes").checked = true;
        document.getElementById("fillerItemsChargeYes").checked = true;
        document.getElementById("fillerItemsIceYes").checked = true;
        document.getElementById("fillerItemsWaveYes").checked = true;
        document.getElementById("fillerItemsSpazerYes").checked = true;
        document.getElementById("fillerItemsPlasmaYes").checked = true;
        document.getElementById("fillerItemsXRayScopeYes").checked = true;
    }
    if (document.getElementById("itemProgressionPresetChallenge").checked) {
        document.getElementById("progressionRateSlow").checked = true;
        document.getElementById("itemPlacementStyleForced").checked = true;
        document.getElementById("itemPriorityStrengthModerate").checked = true;
        document.getElementById("randomTankYes").checked = true;
        document.getElementById("spazerBeforePlasmaYes").checked = true;
        document.getElementById("itemPoolPresetFull").checked = true;
        document.getElementById("startingItemsPresetNone").checked = true;
        {% for item in prioritizable_items %}
        document.getElementById("itemPriority{{+ item }}Early").checked = true;
        {% endfor %}
        document.getElementById("itemPriorityMorphDefault").checked = true;
        document.getElementById("itemPrioritySpaceJumpDefault").checked = true;
        document.getElementById("itemPriorityScrewAttackDefault").checked = true;
        document.getElementById("itemPriorityWallJumpDefault").checked = true;
        document.getElementById("itemPriorityVariaLate").checked = true;
        document.getElementById("itemPriorityGravityLate").checked = true;
        {% for item in prioritizable_items %}
        document.getElementById("fillerItems{{+ item }}No").checked = true;
        {% endfor %}
        document.getElementById("fillerItemsChargeYes").checked = true;
        document.getElementById("fillerItemsSpazerYes").checked = true;
        document.getElementById("fillerItemsSuperSemi").checked = true;
        document.getElementById("fillerItemsPowerBombSemi").checked = true;
    }
    if (document.getElementById("itemProgressionPresetDesolate").checked) {
        document.getElementById("progressionRateSlow").checked = true;
        document.getElementById("itemPlacementStyleForced").checked = true;
        document.getElementById("itemPriorityStrengthModerate").checked = true;
        document.getElementById("randomTankYes").checked = true;
        document.getElementById("spazerBeforePlasmaYes").checked = true;
        document.getElementById("itemPoolPresetReduced").checked = true;
        document.getElementById("startingItemsPresetNone").checked = true;
        {% for item in prioritizable_items %}
        document.getElementById("itemPriority{{+ item }}Early").checked = true;
        {% endfor %}
        document.getElementById("itemPriorityMorphDefault").checked = true;
        document.getElementById("itemPrioritySpaceJumpDefault").checked = true;
        document.getElementById("itemPriorityScrewAttackDefault").checked = true;
        document.getElementById("itemPriorityWallJumpDefault").checked = true;
        document.getElementById("itemPriorityVariaLate").checked = true;
        document.getElementById("itemPriorityGravityLate").checked = true;
        {% for item in prioritizable_items %}
        document.getElementById("fillerItems{{+ item }}No").checked = true;
        {% endfor %}
        document.getElementById("fillerItemsChargeYes").checked = true;
        document.getElementById("fillerItemsSpazerYes").checked = true;
        document.getElementById("fillerItemsSuperSemi").checked = true;
        document.getElementById("fillerItemsPowerBombSemi").checked = true;
    }
    processItemPoolPreset();
    processStartingItemsPreset();
}
function itemProgressionChanged() {
    document.getElementById("itemProgressionPresetNormal").checked = false;
    document.getElementById("itemProgressionPresetTricky").checked = false;
    document.getElementById("itemProgressionPresetChallenge").checked = false;
    document.getElementById("itemProgressionPresetDesolate").checked = false;
}
function processStartingItemsPreset() {
    if (document.getElementById("startingItemsPresetNone").checked) {
        {% for item in starting_items_multiple %}
        document.getElementById("startingItem{{+ item }}").value = "0";
        {% endfor %}
        {% for item in starting_items_single %}
        document.getElementById("startingItem{{+ item }}No").checked = true;
        {% endfor %}
    }
    if (document.getElementById("startingItemsPresetAll").checked) {
        document.getElementById("startingItemMissile").value = "46";
        document.getElementById("startingItemETank").value = "14";
        document.getElementById("startingItemReserveTank").value = "4";
        document.getElementById("startingItemSuper").value = "10";
        document.getElementById("startingItemPowerBomb").value = "10";
        {% for item in starting_items_single %}
        document.getElementById("startingItem{{+ item }}Yes").checked = true;
        {% endfor %}
    }
}
function validateStartingItems() {
    if (parseInt(document.getElementById("startingItemMissile").value) > 46) {
        document.getElementById("startingItemMissile").value = "46";
    }
    if (parseInt(document.getElementById("startingItemETank").value) > 14) {
        document.getElementById("startingItemETank").value = "14";
    }
    if (parseInt(document.getElementById("startingItemReserveTank").value) > 4) {
        document.getElementById("startingItemReserveTank").value = "4";
    }
    if (parseInt(document.getElementById("startingItemSuper").value) > 10) {
        document.getElementById("startingItemSuper").value = "10";
    }
    if (parseInt(document.getElementById("startingItemPowerBomb").value) > 10) {
        document.getElementById("startingItemPowerBomb").value = "10";
    }
}
function startingItemsPresetChanged() {
    processStartingItemsPreset();
    itemProgressionChanged();
}
function startingItemsChanged() {
    document.getElementById("startingItemsPresetNone").checked = false;
    document.getElementById("startingItemsPresetAll").checked = false;
    validateStartingItems();
    itemProgressionChanged();
}

function processItemPoolPreset() {
    if (document.getElementById("itemPoolPresetFull").checked) {
        document.getElementById("stopItemPlacementEarlyNo").checked = true;
        document.getElementById("itemPoolMissile").value = "46";
        document.getElementById("itemPoolSuper").value = "10";
        document.getElementById("itemPoolPowerBomb").value = "10";
        document.getElementById("itemPoolETank").value = "14";
        document.getElementById("itemPoolReserveTank").value = "4";
    }
    if (document.getElementById("itemPoolPresetReduced").checked) {
        document.getElementById("stopItemPlacementEarlyYes").checked = true;
        document.getElementById("itemPoolMissile").value = "12";
        document.getElementById("itemPoolSuper").value = "6";
        document.getElementById("itemPoolPowerBomb").value = "5";
        document.getElementById("itemPoolETank").value = "3";
        document.getElementById("itemPoolReserveTank").value = "3";
    }
}
function validateItemPool() {
    if (parseInt(document.getElementById("itemPoolMissile").value) > 46) {
        document.getElementById("itemPoolMissile").value = "46";
    }
    if (parseInt(document.getElementById("itemPoolETank").value) > 14) {
        document.getElementById("itemPoolETank").value = "14";
    }
    if (parseInt(document.getElementById("itemPoolReserveTank").value) > 4) {
        document.getElementById("itemPoolReserveTank").value = "4";
    }
    if (parseInt(document.getElementById("itemPoolSuper").value) > 19) {
        document.getElementById("itemPoolSuper").value = "19";
    }
    if (parseInt(document.getElementById("itemPoolPowerBomb").value) > 19) {
        document.getElementById("itemPoolPowerBomb").value = "19";
    }

    if (parseInt(document.getElementById("itemPoolMissile").value) < 2) {
        document.getElementById("itemPoolMissile").value = "2";
    }
    if (parseInt(document.getElementById("itemPoolETank").value) < 2) {
        document.getElementById("itemPoolETank").value = "2";
    }
    if (parseInt(document.getElementById("itemPoolReserveTank").value) < 1) {
        document.getElementById("itemPoolReserveTank").value = "1";
    }
    if (parseInt(document.getElementById("itemPoolSuper").value) < 2) {
        document.getElementById("itemPoolSuper").value = "2";
    }
    if (parseInt(document.getElementById("itemPoolPowerBomb").value) < 1) {
        document.getElementById("itemPoolPowerBomb").value = "1";
    }
}
function itemPoolPresetChanged() {
    processItemPoolPreset();
    itemProgressionChanged();
}
function itemPoolChanged() {
    document.getElementById("itemPoolPresetFull").checked = false;
    document.getElementById("itemPoolPresetReduced").checked = false;
    validateItemPool();
    itemProgressionChanged();
}

function gameVariationChanged() {
    if (document.getElementById("ultraLowQoLYes").checked) {
        document.getElementById("qualityOfLifeOff").checked = true;
        qualityOfLifePresetChanged();
    }
}
function initializeSpoilerToken() {
    if (localStorage["spoilerToken"] === undefined) {
        let result = '';
        const length = 80;
        const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        const charactersLength = characters.length;
        let counter = 0;
        while (counter < length) {
            result += characters.charAt(Math.floor(Math.random() * charactersLength));
            counter += 1;
        }
        localStorage["spoilerToken"] = result;
    }
    document.getElementById("spoilerToken").value = localStorage["spoilerToken"];
}
function checkOtherOptions() {
    if (document.getElementById("wallJumpCollectible").checked ||
        document.getElementById("etankRefillDisabled").checked ||
        document.getElementById("etankRefillFull").checked ||
        document.getElementById("energyFreeShinesparksYes").checked ||
        document.getElementById("areaAssignmentRandom").checked ||
        document.getElementById("itemDotChangeDisappear").checked ||
        document.getElementById("transitionLettersNo").checked ||
        document.getElementById("doorLocksSizeSmall").checked ||
        document.getElementById("mapsRevealedPartial").checked ||
        document.getElementById("mapsRevealedFull").checked ||
        document.getElementById("mapStationRevealPartial").checked ||
        document.getElementById("ultraLowQoLYes").checked ||
        document.getElementById("raceModeYes").checked) 
    {
        document.getElementById("collapseGameVariations").classList.remove("collapse");
        document.getElementById("collapseGameVariations").classList.add("show");
    }
    document.getElementById("randomSeed").value = "";
}
</script>
{% include "../common/save_load_rom.html" %}
{% include "../common/save_settings.html" %}
<script>
loadForm(document.getElementById("main-form"));
loadROM(document.getElementById("inputRom"));
presetChanged();
gameVariationChanged();
qualityOfLifePresetChanged();
itemProgressionPresetChanged();
checkOtherOptions();
initializeSpoilerToken();
window.addEventListener('pageshow', (event) => {
  if (event.persisted) {
    submitModal.hide();
  }
});
</script>
