<input type="hidden" id="json-tech" name="tech_json">
<input type="hidden" id="json-strat" name="notable_json">
{% for (difficulty_idx, difficulty_name) in preset_data.difficulty_levels.keys.iter().enumerate()  %}
    {% if difficulty_name == "Implicit" || difficulty_name == "Ignored" %}
    {% continue %}
    {% endif %}
    {% let name_no_space = difficulty_name.replace(" ", "") %}
    <div class="accordion-item my-0 p-0">
        <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{+ name_no_space }}Tech">
            {{+ difficulty_name +}} (<span id="percent-tier-{{+ name_no_space }}"></span>%)
        </button>
        </h2>
        <style>
        html[data-bs-theme=dark] .tech-row:hover {
            background-color: #2b3035;
        }
        html[data-bs-theme=light] .tech-row:hover {
            background-color: #f4f5f6;
        }
        .png-tech {
            position: absolute;
        }
        .tech-row:hover .png-tech {
            opacity: 0;
        }
        .tech-row:not(:hover) .gif-tech {
            opacity: 0;
        }
        </style>
        <div id="collapse{{+ name_no_space }}Tech" class="accordion-collapse collapse my-0 p-0">
            <div class="card">
                <div class="card-body my-0 p-0">
                    {% let difficulty_tech = preset_data.tech_by_difficulty[difficulty_name] %}
                    {% for tech_id in difficulty_tech %}
                        {% let tech_data = preset_data.tech_data_map[tech_id] %}
                        {% let tech_name = &tech_data.name %}
                        {% if loop.index0 > 0 %}
                            <hr class="m-0">
                        {% endif %}
                        <div class="row m-0 p-3 tech-row">
                            <div class="text-center col-sm-4 col-md-3 col-lg-2 my-0">
                                {% if tech_data.video_id.is_some() %}
                                {% let video_id = tech_data.video_id.unwrap() %}
                                {% let video_storage_url = video_storage_url %}
                                {% let png_url = format!("{}/png/{}.png", video_storage_url, video_id) %}
                                {% let webp_url = format!("{}/webp/{}.webp", video_storage_url, video_id) %}
                                {% let mp4_url = format!("{}/mp4/{}.mp4", video_storage_url, video_id) %}
                                <a href="#" onclick='startVideo("{{ mp4_url }}")' data-bs-toggle="modal" data-bs-target="#videoModal">
                                <img class="png-tech" loading="lazy" src="{{ png_url }}" style="width:128px;height:128px;">
                                <img class="gif-tech" loading="lazy" src="{{ webp_url }}" style="width:128px;height:128px;">
                                </a>
                                {% endif %}
                            </div>
                            <div class="col-sm-8 col-md-9 col-lg-10 my-0">
                                <div class="container mx-0 my-0">
                                    <div class="row">
                                        <div class="col-lg-10 mx-0 my-0">
                                            <b>{{ tech_name }}</b>
                                        </div>
                                        <div class="col-lg-2 btn-group my-0" role="group" onchange="techChanged()">
                                            <input type="radio" class="btn-check" name="tech-{{ tech_id }}" id="tech-{{ tech_id }}-No" value="false" checked=true>
                                            <label class="btn btn-outline-primary m-0 p-1" for="tech-{{ tech_id }}-No">No</label>
                                            <input type="radio" class="btn-check tech-input tier-input-{{ name_no_space }}" name="tech-{{ tech_id }}" id="tech-{{ tech_id }}-Yes" value="true" data-tech-name="{{ tech_name }}">
                                            <label class="btn btn-outline-primary m-0 p-1" for="tech-{{ tech_id }}-Yes">Yes</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 my-1">
                                            {{+ tech_description[tech_id] }}
                                        </div>
                                    </div>
                                    {% if tech_dependencies_str[tech_id].len() > &0usize %}
                                    <p><i>Dependencies: {{+ tech_dependencies_str[tech_id] }} </i></p>
                                    {% endif %}
                                    {% if tech_strat_counts[tech_id] > &0usize %}
                                        <p class="mt-3"><a href="/logic/tech/{{+ tech_id }}" onclick="setDifficulty('{{+ difficulty_idx }}');">
                                        {% let cnt = tech_strat_counts[tech_id] %}
                                        {% let strat_pluralization -%}
                                        {% if cnt == &&1 %}
                                          {% let strat_pluralization = "strat" %}
                                        {% else %}
                                          {% let strat_pluralization = "strats" %}
                                        {% endif %}
                                        {{+ cnt +}} {{+ strat_pluralization }}</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            </div>
        </div>
    </div>
{% endfor %}
<script>
function setDifficulty(i) {
    localStorage["filterForm"] = JSON.stringify({"preset": i});
}
</script>