html[data-bs-theme=dark] .table {
    --bs-table-hover-bg: #2b3035;
}
html[data-bs-theme=light] .table {
    --bs-table-hover-bg: #f4f5f6;
}
.png-tech {
    position: absolute;
}
.strat-row:hover .png-tech {
    opacity: 0;
}
.strat-row:not(:hover) .gif-tech {
    opacity: 0;
}
.video-attribution {
    margin-bottom: 0;
    font-size: smaller;
}
.video-selector .video-attribution {
    display: none;
}