<!-- Button trigger modal -->
<button id="selectedEnergyTankColorButton" type="button" class="btn btn-secondary p-2 rounded custom-button" data-bs-toggle="modal" data-bs-target="#energyTankSelectModal">
  <div class="row">
    <div class="col">
      <svg id="selectedETankSVG" style="image-rendering:pixelated" class="m-0" width="168" height="48" version="1.1" xmlns="http://www.w3.org/2000/svg">
      </svg>
    </div>
  </div>
</button>

<input type="hidden" id="etankColor" name="etank_color" value="de3894">

<!-- Modal -->
<div class="modal" id="energyTankSelectModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Select your Energy Tank color</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="hidden" id="energyTankColor" name="energy_tank_color" value="">
        <div id="etankGrid">
        {% for row in etank_colors %}
          <div class="row m-2">
          {% for color in row %}
            <div class="col-1">
              <button type="button" class="btn btn-secondary mx-auto custom-button" style="padding: 12px" data-bs-dismiss="modal" onclick="changeEnergyTankColor(this)" data-color="{{+ color }}">
                <svg style="image-rendering:pixelated" class="m-0" width="18" height="15" version="1.1" xmlns="http://www.w3.org/2000/svg">
                  <rect x="0" y="0" width="18" height="15" fill="white"/>;
                  <rect x="3" y="3" width="15" height="12" fill="#{{+ color }}"/>;
                </svg>
              </button>
            </div>
          {% endfor %}
          </div>
        {% endfor %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
