<!DOCTYPE html>
<html lang="en-US">

<head>
    {% include "../common/header.html" %}
    <title>Boss Calculator - Super Metroid Map Rando</title>
</head>

<body>
    {% include "../common/navbar.html" %}
    <div class="container col-lg-9 col-xl-7 col-xxl-6 pb-4">

        <div class="d-flex justify-content-center">
            <h2 id="boss-header">Select a boss</h2>
        </div>

        <div id="boss-selector" class="row">
            <div class="d-flex justify-content-around flex-wrap my-2">
                <style>
                    .boss-icon {
                        width: 128px;
                        height: 128px;
                        background-color: black;
                        image-rendering: pixelated;
                    }
                
                    .boss-disabled {
                        filter: grayscale(100%) brightness(50%);
                    }
                </style>
                <img id="boss-phantoon" class="boss-icon boss-disabled" src="/static/bosses/phantoon.png" alt="Phantoon" data-name="Phantoon"></img>
                <img id="boss-draygon" class="boss-icon boss-disabled" src="/static/bosses/draygon.png" alt="Draygon" data-name="Draygon"></img>
                <img id="boss-ridley" class="boss-icon boss-disabled" src="/static/bosses/ridley.png" alt="Ridley" data-name="Ridley"></img>
                <img id="boss-botwoon" class="boss-icon boss-disabled" src="/static/bosses/botwoon.png" alt="Botwoon" data-name="Botwoon"></img>
                <img id="boss-mother-brain" class="boss-icon boss-disabled" src="/static/bosses/mother_brain.png" alt="Mother Brain" data-name="Mother Brain 2"></img>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 my-2 d-flex align-items-center">
                Techs and strats
            </div>
            <div class="col-lg-10 my-2 btn-group overflow-auto" role="group" id="presets">
            {% for p in presets.iter() %}
                <input type="radio" class="btn-check" name="preset" value="{{+ loop.index0 }}"
                    id="preset{{+ loop.index0 }}" autocomplete="off" {% if loop.first %}checked{% endif %}>
                <label class="btn btn-outline-secondary p-2" for="preset{{+ loop.index0 }}">{{+ p.preset.as_ref().unwrap() }}</label>
            {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="form-group row m-2">
                <label for="boss-proficiency" class="col-6 col-form-label">Boss proficiency<br>
                    <small>(Skill level at the boss fights, between 0 and 1)</small>
                </label>
                <div class="col-sm-3 my-2">
                    <input type="number" class="form-control" id="boss-proficiency" min="0" max="1" step="0.05" id="proficiency" value="0">
                </div>
            </div>
        </div>

        <div id="mother-brain-supers" class="form-group row align-items-center d-none">
            <div class="col-6 m-2">
                {% include "../generate/help/quality/supers_double.html" %}
                <label for="preset">Supers do double damage to Mother Brain</label>
            </div>
            <div class="col-2 btn-group m-2" role="group" id="supersDouble">
                <input type="radio" class="btn-check" name="supers_double" id="supersDoubleNo" value="false">
                <label class="btn btn-outline-primary" for="supersDoubleNo">No</label>
                <input type="radio" class="btn-check" name="supers_double" id="supersDoubleYes" value="true" checked>
                <label class="btn btn-outline-primary" for="supersDoubleYes">Yes</label>
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-center p-3">
                {% include "../common/inventory.html" %}
            </div>
        </div>

        <div id="results" class="d-none d-flex justify-content-center">
            <div>
                <h4 class="text-center">Results</h4>
                <i class="text-center" id="result-fail">Not enough items/resources</i>
                <div id="result-success" class="card" style="width: 300px;">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex">
                            <div class="col-10">Energy used:</div>
                            <div class="col-2" id="energy-used">0</div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-10">Reserves used:</div>
                            <div class="col-2" id="reserves-used">0</div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-10">Missiles used:</div>
                            <div class="col-2" id="missiles-used">0</div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-10">Supers used:</div>
                            <div class="col-2" id="supers-used">0</div>
                        </li>
                        <li class="list-group-item d-flex">
                            <div class="col-10">Power Bombs used:</div>
                            <div class="col-2" id="power-bombs-used">0</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <script type="module">
        import init, { set_panic_hook, can_defeat_phantoon, can_defeat_draygon, can_defeat_ridley, can_defeat_botwoon, can_defeat_mother_brain_2 } from "/wasm/maprando_wasm.js";
        let presets_json = {{ presets_json|safe }};

        // First difficulty, then bosses
        let preset_boss_proficiencies = [
            {% for p in presets.iter() %}
            {
                "Phantoon": {{ p.phantoon_proficiency }},
                "Draygon": {{ p.draygon_proficiency }},
                "Ridley": {{ p.ridley_proficiency }},
                "Botwoon": {{ p.botwoon_proficiency }},
                "Mother Brain 2": {{ p.mother_brain_proficiency }},
            },
            {% endfor %}
        ];

        let can_manage_reserves = false;
        let can_be_patient = false;
        let can_be_very_patient = false;
        let can_be_extremely_patient = false;
        let supers_double = true;

        window.addEventListener("load", function () {
            // String of the currently selected boss. Empty when unselected.
            let selected_boss = "";
            let ref_boss_header = document.getElementById("boss-header");
            let ref_boss_selector = document.getElementById("boss-selector");

            let ref_boss_phantoon = document.getElementById("boss-phantoon");
            let ref_boss_draygon = document.getElementById("boss-draygon");
            let ref_boss_ridley = document.getElementById("boss-ridley");
            let ref_boss_botwoon = document.getElementById("boss-botwoon");
            let ref_boss_mother_brain = document.getElementById("boss-mother-brain");

            let ref_proficiency = document.getElementById("boss-proficiency");
            let ref_inventory = document.getElementById("inventory-table");

            let ref_mother_brain_supers = document.getElementById("mother-brain-supers");

            let ref_results = document.getElementById("results");
            let ref_result_fail = document.getElementById("result-fail");
            let ref_result_success = document.getElementById("result-success");

            let ref_energy_used = document.getElementById("energy-used");
            let ref_reserves_used = document.getElementById("reserves-used");
            let ref_missiles_used = document.getElementById("missiles-used");
            let ref_supers_used = document.getElementById("supers-used");
            let ref_power_bombs_used = document.getElementById("power-bombs-used");

            // wasm
            init().then(() => {
                set_panic_hook();

                function getProficiency() {
                    let proficiency = parseFloat(ref_proficiency.value);
                    if (isNaN(proficiency)) {
                        proficiency = 0;
                    } else if (proficiency > 1) {
                        proficiency = 1;
                    } else if (proficiency < 0) {
                        proficiency = 0;
                    }
                    return proficiency;
                }

                function updateProficiency() {
                    if (selected_boss.length == 0) {
                        return;
                    }
                    let presetIdx = parseInt(document.querySelector("#presets input:checked").value);
                    ref_proficiency.value = preset_boss_proficiencies[presetIdx][selected_boss];
                }

                function updateResults(local) {
                    ref_result_fail.classList.toggle("d-none", local != null);
                    ref_result_success.classList.toggle("d-none", local == null);
                    if (local == null) {
                        return;
                    }
                    ref_energy_used.textContent = -parseInt(local.energy) - 1;
                    ref_reserves_used.textContent = -parseInt(local.reserves) - 1;
                    ref_missiles_used.textContent = -parseInt(local.missiles) - 1;
                    ref_supers_used.textContent = -parseInt(local.supers) - 1;
                    ref_power_bombs_used.textContent = -parseInt(local.power_bombs) - 1;
                }

                function do_boss_check() {
                    let inventory = getInventory(can_manage_reserves);
                    let local = null;
                    let proficiency = getProficiency();

                    if (selected_boss == "Phantoon") {
                        local = can_defeat_phantoon(inventory, local, proficiency);
                    }
                    else if (selected_boss == "Draygon") {
                        local = can_defeat_draygon(inventory, local, proficiency, can_be_very_patient);
                    }
                    else if (selected_boss == "Ridley") {
                        local = can_defeat_ridley(inventory, local, proficiency, can_be_patient, can_be_very_patient, can_be_extremely_patient);
                    }
                    else if (selected_boss == "Botwoon") {
                        local = can_defeat_botwoon(inventory, local, proficiency, false);
                        if (local != null) {
                            local = can_defeat_botwoon(inventory, local, proficiency, true);
                        }
                    }
                    else if (selected_boss == "Mother Brain 2") {
                        local = can_defeat_mother_brain_2(inventory, local, proficiency, supers_double, can_be_very_patient, false);
                    }

                    updateResults(local);
                }

                ref_boss_selector.addEventListener("click", function (e) { 
                    let ref_boss_selected = e.target.closest("img");
                    if (ref_boss_selected == null) {
                        return;
                    }
                    for (let ref_boss of [ref_boss_phantoon, ref_boss_draygon, ref_boss_ridley, ref_boss_botwoon, ref_boss_mother_brain]) {
                        ref_boss.classList.toggle("boss-disabled", ref_boss_selected != ref_boss);
                        if (ref_boss_selected == ref_boss) {
                            selected_boss = ref_boss_selected.getAttribute("data-name");
                            ref_boss_header.textContent = selected_boss;
                        }
                    }
                    ref_mother_brain_supers.classList.toggle("d-none", ref_boss_selected != ref_boss_mother_brain);
                    ref_results.classList.remove("d-none");

                    updateProficiency();
                    do_boss_check();
                });
                ref_inventory.addEventListener("click", do_boss_check);
                ref_inventory.addEventListener("contextmenu", do_boss_check);
                ref_proficiency.addEventListener("input", do_boss_check);
                for (let ref_radio_button of document.querySelectorAll("#presets input[type='radio']")) {
                    ref_radio_button.addEventListener("click", function () {
                        function get_tech(tech_settings, tech_id) {
                            for (let s of tech_settings) {
                                if (s.id == tech_id) {
                                    return s.enabled;
                                }
                            }
                            return false;
                        }

                        let techs = presets_json[parseInt(ref_radio_button.value)].tech_settings;
                        can_manage_reserves = get_tech(techs, 18);
                        can_be_patient = get_tech(techs, 1);
                        can_be_very_patient = get_tech(techs, 2);
                        can_be_extremely_patient = get_tech(techs, 3);
                        updateProficiency();
                        do_boss_check();
                    });
                }
                for (let ref_radio_button of document.querySelectorAll("#supersDouble input[type='radio']")) {
                    ref_radio_button.addEventListener("click", function () {
                        supers_double = (ref_radio_button.value === "true");
                        do_boss_check();
                    });
                }
            });
        });
    </script>
</body>

</html>