<!DOCTYPE html>
<html lang="en-US">
<head>
{% include "../common/header.html" %}
<title>Logic - Super Metroid Map Rando</title>
<style>
    .vanilla-map-container {
        position: relative;
    }
    .vanilla-map-container img {
        image-rendering: pixelated;
    }
    .vanilla-map-container svg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
</style>
</head>
<body>
{% include "../common/navbar.html" %}
<script>
document.getElementById("navigation-logic").classList.add("active");
</script>

<div class="container col-lg-9 col-xl-7 col-xxl-6 pt-3 pb-0">
    <h3 class="my-3">Logic</h3>
    <p>The logic for Super Metroid Map Rando is based on the
    <a href="https://github.com/miketrethewey/sm-json-data/tree/master">sm-json-data</a> project. For details about
    how to interpret the JSON, see the documentation there. This page links to listings of strats by room and also by
    tech.</p>
</div>

<div class="container-xxl p-3">
    <div class="vanilla-map-container">
        <img src="/logic/vanilla_map.png" width="100%">
        <svg width="100%" viewBox="0 0 545 473">
        {% for p in room_polygons %}
        <a href="/logic/room/{{ p.room_id }}">
        <title>{{ p.room_name }}</title>
        <path d="{{ p.svg_path }}" />
        </a>
        {% endfor %}
        </svg>
    </div>
</div>

<div class="container col-lg-9 col-xl-7 col-xxl-6 pb-4">
    <a class="mb-2 border border-primary border-2 rounded-3 bg-primary-subtle p-3 d-flex align-items-center text-decoration-none" href="logic/boss_calculator">
        <div class="pe-2">
            <img class="bg-black" src="/static/bosses/ridley.png">
        </div>
        <div>
            <h4 class="m-0">Boss Calculator</h4>
            <p class="m-0">On this page you can see what items put the harder bosses in logic.</p>
            <p class="m-0">Special strats such as backside Botwoon and Mother Brain with R-Mode are not included.</p>
        </div>
    </a>

    <div class="row">
        <div class="col-lg-6">
            {% for area in area_order %}
                <div class="card my-2" id="{{+ area.replace(" ", "") }}">
                    <div class="card-header">
                    {{+ area }}
                    </div>
                    <div class="card-body px-2 py-1">
                        {% for room in rooms %}
                            {% if &room.area == area %}
                                <p class="m-1"><a href="/logic/room/{{+ room.room_id }}">{{+ room.room_name }}</a></p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-lg-6">
            {% for (tech_difficulty_idx, tech_difficulty_name) in tech_difficulties.iter().enumerate() %}
                <div class="card my-2" id="{{+ tech_difficulty_name.replace(" ", "") }}Tech">
                    <div class="card-header">
                    {{+ tech_difficulty_name +}} Tech
                    </div>
                    <div class="card-body px-2 py-1">
                    {% for t in tech %}
                        {% if t.tech_name == "canEscapeMorphLocation" %}
                            {% continue %}
                        {% endif %}
                        {% if t.tech_difficulty_idx == tech_difficulty_idx %}
                            <p class="m-1"><a href="/logic/tech/{{+ t.tech_id }}">{{+ t.tech_name }}</a></p>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <hr>
    <h5 id="additional_information">Additional information</h5>
    <p>Work is still on-going on the logic. Some things to be aware of:</p>
    <ul>
    <li><p>More strats and tech will be added over time. The goal is that any useful strats that are humanly viable
    should eventually be put into the logic.</p>
    <li><p>Implicit tech (e.g. canTrivialMidAirMorph) are always in logic on all settings.
    <li><p>Ignored tech (e.g. canRiskPermanentLossOfAccess) are never in logic on any settings.
    <li><p>The difficulty tier shown for a strat in these pages is based on the most favorable situation for executing it,
    e.g. assuming unlimited resources, items, cross-room runway length, and obstacles being already cleared.
    The randomizer logic takes into account such situational details: just because a strat is listed as "Basic"
    in these pages does not mean it will necessarily be in logic on "Basic" settings in every situation.</p>
    <li><p>The tech pages only list strats that reference the tech directly or by a helper, but not by a dependency.
    For example, "canWalljump" does not list strats that require "canPreciseWalljump". This is to avoid cluttering the 
    lower-level tech pages with strats that more properly belong to higher-level tech pages.
    </p>
    </ul>
</div>
<script src="imageMapResizer.min.js"></script>