<div class="row">
    <div class="col-md-6">
        <a href="/logic/room/{{+ strat.room_id }}/{{+ strat.from_node_id }}/{{+ strat.to_node_id }}/{{+ strat.strat_id }}">
            {{+ strat.strat_name }}
        </a>
        ({{+ strat.difficulty_name }})
        <br>
        <a href="/logic/room/{{+ strat.room_id }}">{{+ strat.room_name }}</a>
    </div>
    <div class="col-md-3">
        From: {{+ strat.from_node_id }}<br>
        {{+ strat.from_node_name }}
    </div>
    <div class="col-md-3">
        To: {{+ strat.to_node_id }}<br>
        {{+ strat.to_node_name }}
    </div>
</div>

<p>
</p>


{% let videos = strat_videos.get((strat.room_id, strat.strat_id)) %}
{% if videos.is_some() %}
    <div class="row my-2">
        <div class="text-center col-sm-4 col-md-3 col-lg-2">
            {% let video = videos.unwrap()[0] %}
            {% let video_id = video.video_id %}
            {% let video_storage_url = &video_storage_url %}
            {% let png_url = format!("{}/png/{}.png", video_storage_url, video_id) %}
            {% let webp_url = format!("{}/webp/{}.webp", video_storage_url, video_id) %}
            {% let mp4_url = format!("{}/mp4/{}.mp4", video_storage_url, video_id) %}
            {% let note = video.note|escape %}
            {% let dev_note = video.dev_note|escape %}
            {% let created_user = video.created_user|escape %}
            {% let note0 %}
            {% if video.note != "" && video.dev_note != "" %}
            {% let note0 = format!("{}<p class='dev-note'>Dev note: {}</p>", note, dev_note) %}
            {% else if video.dev_note != "" %} 
            {% let note0 = format!("<p class='dev-note'>Dev note: {}</p>", dev_note) %}
            {% else %}
            {% let note0 = format!("{}", note) %}
            {% endif %}
            {% let full_note = format!("{}<p class='video-attribution'>Video by {}</p>", note0, created_user) %}

            <div>
                <a href="#" id="video-a-{{ strat.room_id }}-{{ strat.strat_id }}" onclick='startVideoByIds("{{ mp4_url }}", {{ strat.room_id }}, {{ strat.strat_id }}, 0)' data-bs-toggle="modal" data-bs-target="#videoModal">
                <img class="png-tech" id="video-png-{{ strat.room_id }}-{{ strat.strat_id }}" loading="lazy" src="{{ png_url }}" style="width:128px;height:128px;" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true" data-bs-title="{{ full_note }}">
                <img class="gif-tech" id="video-webp-{{ strat.room_id }}-{{ strat.strat_id }}" loading="lazy" src="{{ webp_url }}" style="width:128px;height:128px;">
                </a>
            </div>

            {% if videos.unwrap().len() > 1 %}
            <div class="btn-group flex-wrap m-1" role="group">
                {% for i in 0..videos.unwrap().len() %} 
                {% let video = videos.unwrap()[i] %}
                {% let created_user = video.created_user|escape %}
                {% let checked %}
                {% if i == 0 %}
                {% let checked = "checked" %}
                {% else %} 
                {% let checked = "" %}
                {% endif %}
                <input type="radio" class="btn-check" name="video-{{ strat.room_id }}-{{ strat.strat_id }}" id="video-{{ strat.room_id }}-{{ strat.strat_id }}-{{ i }}" autocomplete="off"
                onclick="selectVideo({{ strat.room_id }}, {{ strat.strat_id }}, {{ video.video_id }}, {{ i }})" {{ checked }}>
                {% let note = video.note|escape %}
                {% let dev_note = video.dev_note|escape %}
                {% let note0 %}
                {% if video.note != "" && video.dev_note != "" %}
                {% let note0 = format!("{}<p class='dev-note'>Dev note: {}</p>", note, dev_note) %}
                {% else if video.dev_note != "" %} 
                {% let note0 = format!("<p class='dev-note'>Dev note: {}</p>", dev_note) %}
                {% else %}
                {% let note0 = format!("{}", note) %}
                {% endif %}
                {% let full_note = format!("{}<p class='video-attribution'>Video by {}</p>", note0, created_user) %}
                <label id="video-label-{{ strat.room_id }}-{{ strat.strat_id }}-{{ i }}" class="btn btn-outline-secondary" for="video-{{ strat.room_id }}-{{ strat.strat_id }}-{{ i }}" 
                data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="video-selector" data-bs-html="true" data-bs-title="{{ full_note }}">{{ i + 1 }}</label>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10">
            {% if strat.note.len() > 0 %}
                <p>{{+ strat.note }}</p>
            {% endif %}
            {% if strat.detail_note.len() > 0 %}
                <p>{{+ strat.detail_note }}</p>
            {% endif %}
        </div>
    </div>
{% else %}
    {% if strat.note.len() > 0 %}
        <p>{{+ strat.note }}</p>
    {% endif %}
    {% if strat.note.len() > 0 %}
        <p>{{+ strat.detail_note }}</p>
    {% endif %}
{% endif %}

{% if let Some(entrance_condition) = strat.entrance_condition %}
    <p class="mb-0">Entrance condition:</p>
    <pre class="overflow-auto" style="max-width:1100px">{{+ entrance_condition }}</pre>
{% endif %}
{% if strat.requires.len() > 0 %}
    <p class="mb-0">Requires:</p>
    <pre class="overflow-auto" style="max-width:1100px">{{+ strat.requires }}</pre>
{% endif %}
{% if let Some(exit_condition) = strat.exit_condition %}
    <p class="mb-0">Exit condition:</p>
    <pre class="overflow-auto" style="max-width:1100px">{{+ exit_condition }}</pre>
{% endif %}
{% if strat.clears_obstacles.len() > 0 %}
    <p>Clears obstacles: {{+ strat.clears_obstacles.join(", ") }}</p>
{% endif %}
{% if strat.resets_obstacles.len() > 0 %}
    <p>Resets obstacles: {{+ strat.resets_obstacles.join(", ") }}</p>
{% endif %}
{% if strat.collects_items.len() > 0 %}
    <p>Collects items: {{+ strat.collects_items.join(", ") }}</p>
{% endif %}
{% if strat.sets_flags.len() > 0 %}
    <p>Sets flags: {{+ strat.sets_flags.join(", ") }}</p>
{% endif %}
{% if strat.bypasses_door_shell %}
    <p>Bypasses door shell: true</p>
{% endif %}
{% if strat.unlocks_doors.as_ref().is_some() %}
    <p class="mb-0">Unlocks doors:</p>
    <pre class="overflow-auto" style="max-width:1100px">{{+ strat.unlocks_doors.as_ref().unwrap() }}</pre>
{% endif %}
{% if strat.farm_cycle_drops.len() > 0 %}
    <p class="mb-0">Farm cycle drops:
    {%+ for drop in strat.farm_cycle_drops %}
        {{+ drop.count +}} {{+ drop.enemy +}}
        {% if !loop.last %}, {%+ endif %}
    {% endfor %}
    </p>
{% endif %}

{% if strat.dev_note.len() > 0 %}
<p class="dev-note">Dev note: {{+ strat.dev_note }}</p>
{% endif %}
