<!DOCTYPE html>
<html lang="en-US">
<head>
{% include "../common/header.html" %}
<title>{{+ tech_name }} - Super Metroid Map Rando</title>

<meta property="og:site_name" content="Map Rando Logic">
<meta property="og:title" content="{{ tech_name +}} ({{ tech_difficulty_name }})">
{% if tech_video_id.is_some() %}
{% let video_id = tech_video_id.unwrap() %}
<meta property="og:image:type" content="image/png">
<meta property="og:image" content="{{ video_storage_url }}/png/{{ video_id }}.png">
{% endif %}
<link rel="stylesheet" href="/static/logic_style.css">
</head>
<body>
{% include "../common/navbar.html" %}
<script>
document.getElementById("navigation-logic").classList.add("active");
</script>

{% include "../common/video-modal.html" %}

<div class="container col-xl-10 col-xxl-8 pb-4">
    <h3 class="my-2">{{+ tech_name +}} ({{+ tech_difficulty_name }})</h3>
    <style id="dev-note-style">
        .dev-note {
            display: none;
        }
    </style>
    <div class="row tech-row">
        <div class="text-center col-sm-4 col-md-3 col-lg-2 p-3">
            {% let tech_name = &tech_name %}
            {% if tech_video_id.is_some() %}
            {% let video_id = tech_video_id.unwrap() %}
            {% let video_storage_url = &video_storage_url %}
            {% let png_url = format!("{}/png/{}.png", video_storage_url, video_id) %}
            {% let webp_url = format!("{}/webp/{}.webp", video_storage_url, video_id) %}
            {% let mp4_url = format!("{}/mp4/{}.mp4", video_storage_url, video_id) %}
            <a href="#" onclick='startVideo("{{ mp4_url }}")' data-bs-toggle="modal" data-bs-target="#videoModal">
            <img class="png-tech" loading="lazy" src="{{ png_url }}" style="width:128px;height:128px;">
            <img class="gif-tech" loading="lazy" src="{{ webp_url }}" style="width:128px;height:128px;">
            </a>
            {% endif %}
        </div>
        <div class="col-sm-8 col-md-9 col-lg-10 p-3">
            <p>{{+ tech_note }}</p>
            {% if tech_detail_note.len() > 0 %}
                <p>{{+ tech_detail_note }}</p>
            {% endif %}
            {% if tech_dependencies.len() > 0 %}
                <p><i>Dependencies: {{+ tech_dependencies }}</i></p>
            {% endif %}
            {% if tech_dev_note.len() > 0 %}
                <p class="d-none dev-note">Dev note: {{+ tech_dev_note }}</p>
            {% endif %}
        </div>
    </div>

    <form id="filterForm">
    <div class="row">
        <div class="col-lg-2 my-2 d-flex align-items-center">
            Difficulty filter
        </div>
        <div class="col-lg-9 my-2 overflow-auto" role="group">
            <div class="input-group">
                <select id="difficultyFilterPreset" class="form-select" name="difficulty_filter" onchange="presetChanged()">
                    {% for difficulty in preset_data.difficulty_levels.keys.iter() %}
                    {% if difficulty == "Implicit" || difficulty == "Ignored" %}
                    {% continue %}
                    {% endif %}
                        <option value="{{+ loop.index0 }}" {% if difficulty == "Beyond" +%} selected {% endif %}>{{+ difficulty }}</option>
                    {% endfor %}
                </select>
                <button type="button" style="flex:none" class="btn btn-secondary ms-1 me-0 p-2" data-bs-toggle="modal" data-bs-target="#logicSettingsModal">
                    <i class="bi bi-gear"></i>
                </button>
            </div>
        </div>
    </div>
    </form>

    <h3>Strats (<span id="stratCount"></span>)</h3>
    <table class="table table-hover mb-0">
    <tbody>
    {% for strat in strats %}
    <tr class="strat-row" 
        data-from-node="{{+ strat.from_node_id }}" 
        data-to-node="{{+ strat.to_node_id }}"
        data-difficulty="{{+ strat.difficulty_idx }}">
    <td class="p-2">
        {% include "strat.html" %}
    </td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% include "../common/save_settings.html" %}
{% include "logic_settings_modal.html" %}
<script>
function presetChanged() {
    updateSelect();
    saveForm(document.getElementById("filterForm"));
}

function devNotesSettingChanged() {
    let showDevNotes = document.getElementById("showDevNotesYes").checked;
    let style = document.getElementById("dev-note-style");
    if (showDevNotes) {
        style.innerHTML = ".non-dev-note { display: none }";
    } else {
        style.innerHTML = ".dev-note { display: none }";
    }
    saveForm(document.getElementById("logicPageSettingsForm"));
}

function difficultyFilterBehaviorChanged() {
    updateSelect();
    saveForm(document.getElementById("logicPageSettingsForm"));
}
function getDifficultyFilter() {
    return document.getElementById("difficultyFilterPreset").value;
}
function updateSelect() {
    var rows = document.getElementsByClassName("strat-row");
    var exactDifficulty = document.getElementById("difficultyFilterBehaviorExact").checked;
    var difficultyFilter = getDifficultyFilter();

    // Show/hide the matching set of Strats:
    var cnt = 0;
    for (var i = 0; i < rows.length; i++) {
        var row = rows.item(i);
        // Include Ignored (9) strats when Beyond (8) is selected:
        if (exactDifficulty) {
            var validDifficulty = Math.min(8, row.getAttribute("data-difficulty")) == difficultyFilter;
        } else {
            var validDifficulty = Math.min(8, row.getAttribute("data-difficulty")) <= difficultyFilter;
        }

        if (validDifficulty) {
            row.classList.remove("d-none");
            cnt += 1;
        } else {
            row.classList.add("d-none");
        }
    }
    document.getElementById("stratCount").innerHTML = cnt;
}
loadForm(document.getElementById("filterForm"));
loadForm(document.getElementById("logicPageSettingsForm"));
updateSelect();
devNotesSettingChanged();
</script>
</body>
</html>
